Repository apache/incubator-devlake, pull requests merged in 2022-01, with the labels that each got.

#1037 `feat` #964 pipelines: manage pipelines
  config-ui/src/App.js
  config-ui/src/components/Sidebar/MenuConfiguration.jsx
  config-ui/src/components/pipelines/CodeInspector.jsx
  config-ui/src/components/pipelines/StagePanel.jsx
  config-ui/src/components/pipelines/TaskActivity.jsx
  config-ui/src/components/widgets/PipelineIndicator.jsx
  config-ui/src/hooks/usePipelineManager.jsx
  config-ui/src/images/bolt.png
  config-ui/src/images/duplicate.png
  config-ui/src/images/heart-pulse.png
  config-ui/src/images/power-button.png
  config-ui/src/images/pulse-2.png
  config-ui/src/images/pulse.png
  config-ui/src/images/sort.png
  config-ui/src/images/synchronise.png
  config-ui/src/images/synchronize-folder.gif
  config-ui/src/images/thunderbolt.png
  config-ui/src/pages/pipelines/activity.jsx
  config-ui/src/pages/pipelines/create.jsx
  config-ui/src/pages/pipelines/index.jsx
  config-ui/src/styles/globals.scss
  config-ui/src/styles/pipelines.scss
  config-ui/src/utils/time.js
Labels: Frontend

#1047 `Hotfix` manage pipelines : fix pagination displayed count & range
  config-ui/src/pages/pipelines/activity.jsx
  config-ui/src/pages/pipelines/index.jsx
Labels: Frontend

#1059 fix: pipelines feature post-development tasks
  config-ui/src/components/messages/FormValidationErrors.jsx
  config-ui/src/pages/pipelines/activity.jsx
  config-ui/src/pages/pipelines/create.jsx
  config-ui/src/pages/pipelines/index.jsx
Labels: Frontend

#1071 feat: create pipelines - use multi-tag selector for gitlab projects and jira boards | `987`
  config-ui/src/components/pipelines/ProviderSettings.jsx
  config-ui/src/hooks/usePipelineValidation.jsx
  config-ui/src/pages/configure/settings/jira/MappingTag.jsx
  config-ui/src/pages/pipelines/create.jsx
  config-ui/src/pages/pipelines/index.jsx
  config-ui/src/styles/common.scss
Labels: Frontend

#1079 `feat` jira settings : add jira issue tag selector entries on blur | `1078`
  config-ui/src/pages/configure/settings/jira/MappingTag.jsx
Labels: Frontend

#1098 feat: add more accurency error message when test connection
  plugins/core/testConnection.go
  plugins/jira/api/jira_connections.go
  plugins/jira/models/response_type.go
  plugins/jira/tasks/jira_api_client.go
  utils/network_helper.go
  utils/network_helper_test.go
Labels: enhancement, component/plugins

#1093 feat(pipeline): limit requests per second
  plugins/core/plugin_utils.go
  plugins/feishu/feishu.go
  plugins/github/github.go
  plugins/gitlab/gitlab.go
  plugins/jenkins/jenkins.go
  plugins/jenkins/tasks/worker.go
  plugins/jira/jira.go
  plugins/jira/tasks/jira_changelog_collector.go
  plugins/jira/tasks/jira_issue_collector.go
  plugins/jira/tasks/jira_remotelink_collector.go
Labels: type/feature-development, component/plugins

#1107 feat(github plugin): resolve github commits and pull requests
  .github/workflows/golangci-lint.yml
  models/domainlayer/code/pull_request.go
  models/domainlayer/code/pull_request_commit.go
  models/init.go
  models/test/factory/pr_factory.go
  plugins/github/github.go
  plugins/github/models/github_pull_request.go
  plugins/github/models/github_pull_request_commit.go
  plugins/github/models/github_pull_request_commit_pull_request.go
  plugins/github/tasks/github_pull_request_children_collector.go
  plugins/github/tasks/github_pull_request_commit_convertor.go
  plugins/github/tasks/github_pull_request_commits_collector.go
  plugins/github/tasks/github_pull_request_converter.go
  plugins/gitlab/tasks/gitlab_pr_converter.go
Labels: type/feature-development, component/plugins

#1108 feat(plugins-github): enrich pull request with labels
  .env.example
  models/domainlayer/code/pull_request.go
  plugins/github/github.go
  plugins/github/models/github_issue_label.go
  plugins/github/models/github_pull_request.go
  plugins/github/tasks/github_issue_labels_collector.go
  plugins/github/tasks/github_issues_enrichment.go
  plugins/github/tasks/github_pull_request_converter.go
  plugins/github/tasks/github_pull_request_enricher.go
  plugins/github/tasks/github_pull_request_labels_collector.go
Labels: type/feature-development, component/plugins

#1119 docs: more accurate document
  plugins/refdiff/README-zh-CN.md
  plugins/refdiff/README.md
Labels: type/bug-fix, component/docs

#1130 fix multiple problems for PingCap release
  config-ui/Dockerfile
  config-ui/nginx.conf
  config-ui/nginx.sh
  config-ui/src/components/Sidebar/MenuConfiguration.jsx
  docker-compose.yml
  plugins/core/apiclient.go
  plugins/github/github.go
  plugins/github/tasks/github_api_client.go
  plugins/github/tasks/github_issue_converter.go
  plugins/refdiff/README.md
Labels: component/plugins, type/bug-fix, component/framework, component/config-ui

#1091 `feat`: pipeline run - implement multi-stage task activity | `1077`
  config-ui/src/components/pipelines/StageLane.jsx
  config-ui/src/components/pipelines/StageLaneStatus.jsx
  config-ui/src/components/pipelines/StagePanel.jsx
  config-ui/src/components/pipelines/StageTask.jsx
  config-ui/src/components/pipelines/StageTaskCaption.jsx
  config-ui/src/components/pipelines/StageTaskIndicator.jsx
  config-ui/src/components/pipelines/StageTaskName.jsx
  config-ui/src/components/pipelines/TaskActivity.jsx
  config-ui/src/data/Providers.js
  config-ui/src/images/git-diff.png
  config-ui/src/images/git.png
  config-ui/src/images/integrations/jenkins.svg
  config-ui/src/pages/configure/connections/ConfigureConnection.jsx
  config-ui/src/pages/pipelines/activity.jsx
  config-ui/src/styles/common.scss
  config-ui/src/styles/pipelines.scss
  config-ui/src/utils/time.js
Labels: type/feature-development, component/config-ui

#1131 fix: ref names of refs_commits_diffs are missing prefix
  plugins/refdiff/refdiff.go
Labels: type/bug-fix

#1160 refactor: rename github_repository to githu_repo
  plugins/github/README-zh-CN.md
  plugins/github/README.md
  plugins/github/github.go
  plugins/github/models/github_issue.go
  plugins/github/models/github_pull_request.go
  plugins/github/models/github_repo.go
  plugins/github/models/github_repo_commit.go
  plugins/github/tasks/github_commit_collector.go
  plugins/github/tasks/github_commit_converter.go
  plugins/github/tasks/github_issue_collector.go
  plugins/github/tasks/github_issue_comments_collector.go
  plugins/github/tasks/github_issue_converter.go
  plugins/github/tasks/github_issue_events_collector.go
  plugins/github/tasks/github_issue_labels_collector.go
  plugins/github/tasks/github_pull_request_collector.go
  plugins/github/tasks/github_pull_request_comments_collector.go
  plugins/github/tasks/github_pull_request_commits_collector.go
  plugins/github/tasks/github_pull_request_converter.go
  plugins/github/tasks/github_pull_request_enricher.go
  plugins/github/tasks/github_pull_request_labels_collector.go
  plugins/github/tasks/github_pull_request_reviewer_collector.go
  plugins/github/tasks/github_repo_collector.go
  plugins/github/tasks/github_repo_converter.go
  plugins/github/tasks/github_repo_converter_to_board.go
  scripts/pm.sh
Labels: type/refactor, component/plugins
