Repository apache/incubator-devlake, pull requests merged in 2022-10, with the labels that each got.

#3302 fix: some wording
  config-ui/src/pages/configure/connections/AddConnection.jsx
  config-ui/src/pages/configure/connections/ConfigureConnection.jsx
  config-ui/src/pages/configure/integration/manage.jsx
  config-ui/src/pages/connections/incoming-webhook/index.jsx
Labels: pr-type/bug-fix

#3297 fix(config-ui): transformation not updating correctly when switching boards
  config-ui/src/pages/configure/settings/jira.jsx
Labels: pr-type/bug-fix, component/config-ui

#3374 feat: config-ui - register new providers azure bitbucket and gitee
  config-ui/src/components/Sidebar/MenuConfiguration.jsx
  config-ui/src/components/blueprints/ConnectionDialog.jsx
  config-ui/src/components/blueprints/ProviderTransformationSettings.jsx
  config-ui/src/data/Providers.js
  config-ui/src/data/integrations.jsx
  config-ui/src/hooks/useConnectionManager.jsx
  config-ui/src/images/integrations/azure.svg
  config-ui/src/images/integrations/bitbucket.svg
  config-ui/src/images/integrations/gitee.svg
  config-ui/src/pages/configure/settings/azure.jsx
  config-ui/src/pages/configure/settings/bitbucket.jsx
  config-ui/src/pages/configure/settings/gitee.jsx
Labels: pr-type/feature-development, component/config-ui
