Repository apache/incubator-devlake, pull requests merged in 2022-03, with the labels that each got.

#1296 fix: jira settings > enable reset query on multiselect fields
  config-ui/src/pages/configure/settings/jira.jsx
Labels: type/bug-fix, component/config-ui

#1295 fix: create pipeline > restore basic textarea editor in advanced mode
  config-ui/src/pages/pipelines/create.jsx
Labels: type/bug-fix, component/config-ui

#1276 feat: reconfigure proxy and extend github settings
  config-ui/src/components/Sidebar.jsx
  config-ui/src/data/NullConnection.js
  config-ui/src/data/Providers.js
  config-ui/src/hooks/useConnectionManager.jsx
  config-ui/src/hooks/useConnectionValidation.jsx
  config-ui/src/hooks/useSettingsManager.jsx
  config-ui/src/pages/configure/connections/AddConnection.jsx
  config-ui/src/pages/configure/connections/ConfigureConnection.jsx
  config-ui/src/pages/configure/connections/ConnectionForm.jsx
  config-ui/src/pages/configure/settings/github.jsx
  config-ui/src/pages/configure/settings/jira.jsx
  config-ui/src/styles/sidebar.scss
Labels: type/feature-development, type/bug-fix, component/config-ui

#1311 `feat`: create pipeline ui - add gitextractor plugin support
  config-ui/src/components/pipelines/ProviderSettings.jsx
  config-ui/src/components/pipelines/TaskActivity.jsx
  config-ui/src/data/Providers.js
  config-ui/src/data/integrations.jsx
  config-ui/src/hooks/usePipelineValidation.jsx
  config-ui/src/pages/pipelines/create.jsx
  config-ui/src/styles/integration.scss
  config-ui/src/styles/pipelines.scss
Labels: type/feature-development, component/config-ui

#1317 `feat`: create pipeline ui - add refdiff plugin support
  config-ui/src/components/menus/RefDiffTasksMenu.jsx
  config-ui/src/components/pipelines/ProviderSettings.jsx
  config-ui/src/components/pipelines/pipeline-settings/refdiff.jsx
  config-ui/src/data/integrations.jsx
  config-ui/src/hooks/usePipelineValidation.jsx
  config-ui/src/pages/pipelines/activity.jsx
  config-ui/src/pages/pipelines/create.jsx
  config-ui/src/styles/common.scss
  config-ui/src/styles/libraries/blueprint.scss
  config-ui/src/styles/pipelines.scss
Labels: type/feature-development, component/config-ui

#1358 docs: update main readme
  README-zh-CN.md
  README.md
  plugins/github/README.md
Labels: component/docs

#1360 docs: simplify the main readme
  README-zh-CN.md
  README.md
Labels: type/docs

#1349 feat: setup cypress testing for config-ui
  config-ui/.gitignore
  config-ui/README.md
  config-ui/cypress.json
  config-ui/cypress/fixtures/github-sources.json
  config-ui/cypress/fixtures/gitlab-sources.json
  config-ui/cypress/fixtures/jenkins-sources.json
  config-ui/cypress/fixtures/jira-sources.json
  config-ui/cypress/fixtures/new-gitextractor-pipeline-tasks.json
  config-ui/cypress/fixtures/new-gitextractor-pipeline.json
  config-ui/cypress/fixtures/new-github-pipeline-tasks.json
  config-ui/cypress/fixtures/new-github-pipeline.json
  config-ui/cypress/fixtures/new-gitlab-pipeline-tasks.json
  config-ui/cypress/fixtures/new-gitlab-pipeline.json
  config-ui/cypress/fixtures/new-jenkins-pipeline-tasks.json
  config-ui/cypress/fixtures/new-jenkins-pipeline.json
  config-ui/cypress/fixtures/new-jira-connection.json
  config-ui/cypress/fixtures/new-jira-pipeline-tasks.json
  config-ui/cypress/fixtures/new-jira-pipeline.json
  config-ui/cypress/fixtures/new-refdiff-pipeline-tasks.json
  config-ui/cypress/fixtures/new-refdiff-pipeline.json
  config-ui/cypress/fixtures/pipeline-activity.json
  config-ui/cypress/fixtures/pipeline-tasks.json
  config-ui/cypress/fixtures/pipelines.json
  config-ui/cypress/integration/0-api/api.spec.js
  config-ui/cypress/integration/1-application/navbar.spec.js
  config-ui/cypress/integration/1-application/sidebar.spec.js
  config-ui/cypress/integration/2-data-integrations/providers.spec.js
  config-ui/cypress/integration/3-pipelines/activity.spec.js
  config-ui/cypress/integration/3-pipelines/create-new.spec.js
  config-ui/cypress/integration/3-pipelines/manage.spec.js
  config-ui/cypress/plugins/index.js
  config-ui/cypress/support/commands.js
  config-ui/cypress/support/index.js
  config-ui/package-lock.json
  config-ui/package.json
  config-ui/src/components/pipelines/ProviderSettings.jsx
  config-ui/src/pages/configure/connections/ConnectionForm.jsx
  config-ui/src/pages/configure/integration/manage.jsx
  config-ui/src/pages/pipelines/activity.jsx
  config-ui/src/pages/pipelines/create.jsx
  config-ui/src/pages/pipelines/index.jsx
Labels: type/feature-development, component/config-ui

#1383 docs: add k8s setup guide to the main README-zh-CN
  README-zh-CN.md
Labels: type/docs

#1395 `fix` v0.9.0 github settings - field saving issues
  config-ui/src/data/integrations.jsx
  config-ui/src/hooks/useConnectionManager.jsx
  config-ui/src/hooks/useSettingsManager.jsx
  config-ui/src/pages/configure/connections/ConfigureConnection.jsx
  config-ui/src/pages/configure/settings/github.jsx
  config-ui/src/pages/configure/settings/gitlab.jsx
  config-ui/src/pages/configure/settings/jenkins.jsx
  config-ui/src/pages/configure/settings/jira.jsx
Labels: type/bug-fix, component/config-ui

#1397 `fix` v0.9.1 cannot save jira connection
  config-ui/src/pages/configure/connections/AddConnection.jsx
Labels: type/bug-fix, component/config-ui

#1422 `fix` `v0.9.2` : lookup online status for connections table
  config-ui/src/hooks/useConnectionManager.jsx
  config-ui/src/pages/configure/integration/manage.jsx
Labels: type/bug-fix, component/config-ui

#1427 `fix` `v0.9.2` triggers page typo with "legacy feature notice"
  config-ui/src/pages/triggers/index.jsx
Labels: type/bug-fix, component/config-ui
