Repository apache/incubator-devlake, pull requests merged in 2022-08, with the labels that each got.

#2630 `fix` config-ui: blueprints service pack 2.0
  config-ui/package-lock.json
  config-ui/package.json
  config-ui/src/components/blueprints/BlueprintsGrid.jsx
  config-ui/src/components/blueprints/DataEntitiesSelector.jsx
  config-ui/src/components/blueprints/create-workflow/DataScopes.jsx
  config-ui/src/components/blueprints/create-workflow/DataTransformations.jsx
  config-ui/src/components/pipelines/StageTaskName.jsx
  config-ui/src/data/NullBlueprint.js
  config-ui/src/data/Task.js
  config-ui/src/data/TestBlueprintDetail.js
  config-ui/src/hooks/useBlueprintValidation.jsx
  config-ui/src/hooks/usePipelineManager.jsx
  config-ui/src/pages/blueprints/blueprint-detail.jsx
  config-ui/src/pages/blueprints/create-blueprint.jsx
  config-ui/src/pages/blueprints/index.jsx
  config-ui/src/pages/configure/settings/github.jsx
Labels: pr-type/feature-development, pr-type/bug-fix, component/config-ui

#2659 `feat` config-ui: blueprint settings management (edit blueprint)
  config-ui/src/App.js
  config-ui/src/components/Sidebar/MenuConfiguration.jsx
  config-ui/src/components/blueprints/BlueprintDataScopesDialog.jsx
  config-ui/src/components/blueprints/BlueprintDialog.jsx
  config-ui/src/components/blueprints/BlueprintNameCard.jsx
  config-ui/src/components/blueprints/BlueprintNavigationLinks.jsx
  config-ui/src/components/blueprints/BlueprintsGrid.jsx
  config-ui/src/components/blueprints/BoardsSelector.jsx
  config-ui/src/components/blueprints/ConnectionDialog.jsx
  config-ui/src/components/blueprints/DataScopesGrid.jsx
  config-ui/src/components/blueprints/ProviderTransformationSettings.jsx
  config-ui/src/components/blueprints/StandardStackedList.jsx
  config-ui/src/components/blueprints/create-workflow/AdvancedJSON.jsx
  config-ui/src/components/blueprints/create-workflow/DataConnections.jsx
  config-ui/src/components/blueprints/create-workflow/DataScopes.jsx
  config-ui/src/components/blueprints/create-workflow/DataSync.jsx
  config-ui/src/components/blueprints/create-workflow/DataTransformations.jsx
  config-ui/src/components/pipelines/StageTaskName.jsx
  config-ui/src/data/NullBlueprint.js
  config-ui/src/data/NullPipelineRun.js
  config-ui/src/data/NullPipelineTask.js
  config-ui/src/data/integrations.jsx
  config-ui/src/data/pipeline-config-samples/default.js
  config-ui/src/data/pipeline-config-samples/github.js
  config-ui/src/data/pipeline-config-samples/gitlab.js
  config-ui/src/data/pipeline-config-samples/jenkins.js
  config-ui/src/hooks/useBlueprintManager.jsx
  config-ui/src/hooks/useBlueprintValidation.jsx
  config-ui/src/hooks/useConnectionManager.jsx
  config-ui/src/hooks/useDataScopesManager.jsx
  config-ui/src/hooks/useJIRA.jsx
  config-ui/src/hooks/usePipelineManager.jsx
  config-ui/src/pages/blueprints/blueprint-detail.jsx
  config-ui/src/pages/blueprints/blueprint-settings.jsx
  config-ui/src/pages/blueprints/create-blueprint.jsx
  config-ui/src/pages/blueprints/index.jsx
  config-ui/src/pages/configure/connections/ConfigureConnection.jsx
  config-ui/src/pages/configure/integration/index.jsx
  config-ui/src/pages/configure/integration/manage.jsx
  config-ui/src/pages/configure/settings/github.jsx
  config-ui/src/pages/configure/settings/jenkins.jsx
  config-ui/src/pages/configure/settings/jira.jsx
  config-ui/src/styles/blueprints.scss
  config-ui/src/styles/integration.scss
  config-ui/src/styles/libraries/blueprint.scss
  config-ui/src/styles/sidebar.scss
Labels: pr-type/feature-development, component/config-ui

#2772 feat: add github pr-body transform field
  config-ui/src/hooks/useDataScopesManager.jsx
  config-ui/src/pages/configure/settings/github.jsx
Labels: pr-type/feature-development, component/config-ui

#2782 fix: use camel-case props for adv json samples
  config-ui/src/App.js
  config-ui/src/components/ErrorBoundary.jsx
  config-ui/src/components/blueprints/DataScopesGrid.jsx
  config-ui/src/components/blueprints/create-workflow/AdvancedJSON.jsx
  config-ui/src/data/pipeline-config-samples/dbt.js
  config-ui/src/data/pipeline-config-samples/default.js
  config-ui/src/data/pipeline-config-samples/feishu.js
  config-ui/src/data/pipeline-config-samples/gitextractor.js
  config-ui/src/data/pipeline-config-samples/github.js
  config-ui/src/data/pipeline-config-samples/gitlab.js
  config-ui/src/data/pipeline-config-samples/jenkins.js
  config-ui/src/data/pipeline-config-samples/jira.js
  config-ui/src/data/pipeline-config-samples/refdiff.js
  config-ui/src/data/pipeline-config-samples/starrocks.js
  config-ui/src/pages/blueprints/blueprint-settings.jsx
Labels: pr-type/bug-fix, component/config-ui

#2783 feat: add connection rate limit setting
  config-ui/src/components/blueprints/ConnectionDialog.jsx
  config-ui/src/data/NullConnection.js
  config-ui/src/data/Providers.js
  config-ui/src/hooks/useConnectionManager.jsx
  config-ui/src/hooks/useConnectionValidation.jsx
  config-ui/src/pages/blueprints/create-blueprint.jsx
  config-ui/src/pages/configure/connections/AddConnection.jsx
  config-ui/src/pages/configure/connections/ConfigureConnection.jsx
  config-ui/src/pages/configure/connections/ConnectionForm.jsx
Labels: pr-type/feature-development, component/config-ui

#2796 refactor: active connections - use rateLimitPerHour property
  config-ui/src/hooks/useConnectionManager.jsx
Labels: type/refactor, component/config-ui

#2795 fix: fetch proxy only if jira is an enabled provider
  config-ui/src/pages/blueprints/create-blueprint.jsx
Labels: pr-type/bug-fix, component/config-ui

#2799 fix: do not pre-select active entity in create-mode
  config-ui/src/components/blueprints/create-workflow/DataTransformations.jsx
Labels: pr-type/bug-fix, component/config-ui

#2808 fix: add missing pipeline var with logfile download
  config-ui/src/pages/blueprints/blueprint-detail.jsx
Labels: pr-type/bug-fix, component/config-ui

#2780 feat: create paginator hook and paginate blueprints grid
  config-ui/src/components/blueprints/BlueprintsGrid.jsx
  config-ui/src/components/blueprints/create-workflow/DataTransformations.jsx
  config-ui/src/hooks/useConnectionManager.jsx
  config-ui/src/hooks/usePaginator.jsx
  config-ui/src/pages/blueprints/index.jsx
Labels: pr-type/feature-development, component/config-ui

#2860 fix: handle blueprint activation api errors
  config-ui/src/hooks/useBlueprintManager.jsx
Labels: pr-type/bug-fix, component/config-ui

#2887 fix: connection saving must return after 2 seconds even though the ne…
  config-ui/src/hooks/useConnectionManager.jsx
Labels: type/bug

#2889 fix: move setAllConnections to the right statement
  config-ui/src/hooks/useConnectionManager.jsx
Labels: type/bug

#2899 feat: add page for history runs at blueprint state
  config-ui/src/pages/blueprints/blueprint-detail.jsx
Labels: pr-type/feature-development
