Repository apache/incubator-devlake, pull requests merged in 2024-11, with the labels that each got.

#8170 docs(README): update slack link
  README.md
Labels: component/docs, size:XS, lgtm

#8179 fix: update change lead time details dashboard
  grafana/dashboards/DORADetails-LeadTimeforChanges.json
Labels: pr-type/bug-fix, severity/p2, component/ext, needs-cherrypick-v1.0, size:M, lgtm

#8180 cherry-pick #8114 #8179 Fix DORA and lead time for changes details dashboards
  grafana/dashboards/DORA.json
  grafana/dashboards/DORAByTeam.json
  grafana/dashboards/DORADebug.json
  grafana/dashboards/DORADetails-LeadTimeforChanges.json
Labels: component/ext, cherrypick, size:M

#8182 Gitextractor auth cherry
  backend/plugins/gitextractor/impl/impl.go
  backend/plugins/gitextractor/parser/taskdata.go
  backend/plugins/github/api/blueprint_v200.go
  backend/plugins/github/impl/impl.go
  backend/plugins/gitlab/api/blueprint_V200_test.go
  backend/plugins/gitlab/api/blueprint_v200.go
Labels: component/plugins, cherrypick, size:L

#8163 fix: make sql query PostgreSQL compatible
  backend/plugins/dora/tasks/incident_from_issue_generator.go
Labels: component/plugins, pr-type/bug-fix, size:S, lgtm

#8178 Add missing migration script to register.go
  backend/core/models/migrationscripts/20240813_change_issue_component_type.go
  backend/core/models/migrationscripts/20240813_increase_cq_projects_id_length.go
  backend/core/models/migrationscripts/register.go
Labels: size:S, lgtm

#8185 feat: collect Zentao issue-repo-commit from DB
  backend/plugins/zentao/impl/impl.go
  backend/plugins/zentao/tasks/bug_repo_commits_dbget.go
  backend/plugins/zentao/tasks/story_repo_commits_dbget.go
  backend/plugins/zentao/tasks/task_repo_commits_dbget.go
Labels: pr-type/feature-development, component/plugins, size:XL, lgtm

#8194 fix(backend): update Makefile to include version prefix in go-dep command
  backend/Makefile
Labels: pr-type/bug-fix, severity/p2, size:XS

#8204 bugfix: rate limit on GHE might be disabled
  backend/plugins/github_graphql/impl/impl.go
Labels: needs-cherrypick-main

#8202 cherrypick #8201 to release v1.0
  backend/helpers/pluginhelper/api/api_collector.go
  backend/plugins/gitlab/tasks/shared.go
Labels: pr-type/refactor, pr-type/feature-development, component/plugins, pr-type/bug-fix, component/framework, cherrypick, size:M

#8197 cherry-pick fix(backend): update Makefile to include version prefix in go-dep command #8194
  backend/Makefile
Labels: pr-type/bug-fix, cherrypick, size:XS

#8209 fix(opsgenie): add AssigneeId and AssigneeName to domain issue
  backend/plugins/opsgenie/tasks/incidents_converter.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:XS

#8203 feat(webhook): Support for Webhook Name in Webhook Endpoints
  backend/helpers/pluginhelper/api/connection_helper.go
  backend/plugins/webhook/api/connection.go
  backend/plugins/webhook/api/deployments.go
  backend/plugins/webhook/api/issues.go
  backend/plugins/webhook/impl/impl.go
Labels: pr-type/feature-development, component/plugins, size:L

#8193 feat: Establish a standardized development environment to reduce the difficulty of setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post-install.sh
  config-ui/package.json
Labels: pr-type/feature-development, size:L

#8211 feat: collect Zentao issue-repo-commit from DB (#8185)
  backend/plugins/zentao/impl/impl.go
  backend/plugins/zentao/tasks/bug_repo_commits_dbget.go
  backend/plugins/zentao/tasks/story_repo_commits_dbget.go
  backend/plugins/zentao/tasks/task_repo_commits_dbget.go
Labels: pr-type/feature-development, component/plugins, size:XL

#8213 cherry-pick #8203 to release v1.0
  backend/helpers/pluginhelper/api/connection_helper.go
  backend/plugins/webhook/api/connection.go
  backend/plugins/webhook/api/deployments.go
  backend/plugins/webhook/api/issues.go
  backend/plugins/webhook/impl/impl.go
Labels: component/plugins, size:L

#8222 fix: start date of sprint is empty
  backend/plugins/jira/e2e/sprint_test.go
  backend/plugins/jira/tasks/apiv2models/sprint.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:S

#8214 Exclude Draft Releases in ReleaseExtractor
  backend/plugins/github_graphql/tasks/release_extractor.go
Labels: component/plugins, pr-type/bug-fix, size:XS
