Repository apache/incubator-devlake, pull requests merged in 2024-07, with the labels that each got.

#7685 fix: delete weekly report dashboard
  grafana/dashboards/WeeklyReport.json
Labels: type/bug, component/ext, needs-cherrypick-v1.0, size:XL, lgtm

#7689 feat(framework): fetch project list by keyword
  backend/server/services/project.go
  backend/server/services/store.go
Labels: pr-type/feature-development, component/framework, needs-cherrypick-v1.0, size:S, lgtm

#7691 feat(github): make error message more clear when getting remote scopes
  backend/plugins/github/api/remote_api.go
Labels: pr-type/bug-fix, size:M, lgtm

#7692 fix: jira epic not collect
  backend/plugins/jira/tasks/epic_collector.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:XS, lgtm

#7695 fix(framework): case-insensitive when getting projects with keyword
  backend/server/services/project.go
Labels: pr-type/bug-fix, component/framework, needs-cherrypick-v1.0, size:XS, lgtm

#7696 refactor: merge DecodeMapStruct from api and utils packages
  backend/helpers/pluginhelper/api/mapstructure.go
  backend/helpers/utils/mapstructure.go
Labels: pr-type/refactor, size:L, lgtm

#7699 fix(zentao): make sure close_date must be before opened_date
  backend/plugins/zentao/tasks/bug_convertor.go
  backend/plugins/zentao/tasks/story_convertor.go
  backend/plugins/zentao/tasks/task_convertor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v0.21, needs-cherrypick-v1.0, size:S, lgtm

#7705 Add some comments for github pr collector
  backend/plugins/github/tasks/pr_collector.go
Labels: component/plugins, size:XS, lgtm

#7652 feat(dora): add incident related tables
  backend/core/models/domainlayer/code/pull_request.go
  backend/core/models/domainlayer/crossdomain/project_incident_deployment_relationship.go
  backend/core/models/domainlayer/domaininfo/domaininfo.go
  backend/core/models/domainlayer/ticket/incident.go
  backend/core/models/domainlayer/ticket/incident_assginee.go
  backend/core/models/domainlayer/ticket/issue.go
  backend/core/models/migrationscripts/20240621_init_incidents_and_incident_assignees.go
  backend/core/models/migrationscripts/20240621_rename_project_issue_metrics.go
  backend/core/models/migrationscripts/archived/incident.go
  backend/core/models/migrationscripts/archived/incident_assignee.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/dora/e2e/connect_incident_to_deploy_test.go
  backend/plugins/dora/e2e/snapshot_tables/project_incident_deployment_relationships.csv
  backend/plugins/dora/impl/impl.go
  backend/plugins/dora/impl/impl_test.go
  backend/plugins/dora/tasks/incident_deploy_connector.go
  backend/plugins/dora/tasks/incident_from_issue_generator.go
  backend/plugins/dora/tasks/incident_from_pull_request_generator.go
  backend/plugins/starrocks/utils/utils.go
  backend/plugins/webhook/api/issues.go
  backend/python/pydevlake/pydevlake/domain_layer/crossdomain.py
  backend/server/services/project.go
  grafana/dashboards/DORA.json
  grafana/dashboards/DORAByTeam.json
  grafana/dashboards/DORADebug.json
  grafana/dashboards/DORADetails-ChangeFailureRate.json
  grafana/dashboards/DORADetails-FailedDeploymentRecoveryTime.json
Labels: pr-type/feature-development, component/plugins, size:XL, lgtm

#7707 fix(sonarqube): update name field in sonar tool layer tables
  backend/plugins/sonarqube/models/migrationscripts/20240709_modify_name_length.go
  backend/plugins/sonarqube/models/migrationscripts/register.go
  backend/plugins/sonarqube/models/sonarqube_account.go
  backend/plugins/sonarqube/models/sonarqube_project.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:M, lgtm

#7657 feat(azuredevops): support disabled Repos
  backend/plugins/azuredevops_go/api/blueprint_v200.go
  backend/plugins/azuredevops_go/api/blueprint_v200_test.go
  backend/plugins/azuredevops_go/api/init.go
  backend/plugins/azuredevops_go/api/remote_helper.go
  backend/plugins/azuredevops_go/models/migrationscripts/20240624_support_disabled_repos.go
  backend/plugins/azuredevops_go/models/migrationscripts/register.go
  backend/plugins/azuredevops_go/models/repo.go
  backend/plugins/azuredevops_go/tasks/account_collector.go
  backend/plugins/azuredevops_go/tasks/ci_cd_build_collector.go
  backend/plugins/azuredevops_go/tasks/ci_cd_timeline_records_converter.go
  backend/plugins/azuredevops_go/tasks/commit_collector.go
  backend/plugins/azuredevops_go/tasks/pr_collector.go
  backend/plugins/azuredevops_go/tasks/pr_commit_collector.go
  backend/plugins/azuredevops_go/tasks/pr_commit_converter.go
  backend/plugins/azuredevops_go/tasks/pr_converter.go
  backend/plugins/azuredevops_go/tasks/pr_label_converter.go
  backend/plugins/azuredevops_go/tasks/shared.go
Labels: pr-type/feature-development, component/plugins, size:L, lgtm

#7706 feat(azuredevops): collector pr's labels to table pull_request_labels
  backend/python/plugins/azuredevops/azuredevops/migrations.py
  backend/python/plugins/azuredevops/azuredevops/models.py
  backend/python/plugins/azuredevops/azuredevops/streams/pull_requests.py
Labels: pr-type/feature-development, component/plugins, size:M, lgtm

#7711 fix: github connection.enableGraphql should be default to true
  backend/plugins/github/api/connection_api.go
Labels: type/bug, component/plugins, needs-cherrypick-v1.0, size:XS, lgtm

#7717 fix: engineering overview dashboard
  grafana/dashboards/EngineeringOverview.json
Labels: pr-type/bug-fix, severity/p2, component/ext, size:L, lgtm

#7718 cherry-pick #7717 fix: engineering overview dashboard
  grafana/dashboards/EngineeringOverview.json
Labels: type/bug, severity/p2, component/ext, cherrypick, size:L

#7719 fix: addition of some commits are ridiculous huge
  backend/plugins/gitextractor/parser/clone_gitcli.go
  backend/plugins/gitextractor/parser/repo_gogit.go
  backend/plugins/gitextractor/parser/repo_libgit2.go
Labels: component/plugins, needs-cherrypick-v1.0, size:M, lgtm

#7721 fix: remove the dependency of the month filter
  grafana/dashboards/EngineeringOverview.json
Labels: type/bug, component/ext, needs-cherrypick-v1.0, size:M, lgtm

#7722 cherry-pick #7721 fix: remove the dependency of the month filter
  grafana/dashboards/EngineeringOverview.json
Labels: pr-type/bug-fix, severity/p2, component/ext, cherrypick, size:M

#7714 fix: add pr Additions and Deletions
  backend/core/models/domainlayer/code/pull_request.go
  backend/core/models/migrationscripts/20240710_add_changes_to_pr.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/azuredevops_go/e2e/snapshot_tables/pull_requests.csv
  backend/plugins/github/e2e/pr_test.go
  backend/plugins/github/e2e/snapshot_tables/_tool_github_pull_requests.csv
  backend/plugins/github/e2e/snapshot_tables/pull_requests.csv
  backend/plugins/github/tasks/pr_convertor.go
  backend/plugins/github_graphql/tasks/pr_collector.go
  backend/plugins/github_graphql/tasks/pr_extractor.go
  backend/plugins/gitlab/e2e/snapshot_tables/pull_requests.csv
Labels: type/bug, component/plugins, size:M, lgtm

#7710 feat(jira): collector accounts from issue changelog items as much as possible
  backend/helpers/e2ehelper/data_flow_tester.go
  backend/plugins/jira/e2e/changelog_test.go
  backend/plugins/jira/e2e/raw_tables/_raw_jira_api_issue_fields.csv
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issue_changelog_items_extractor.csv
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issue_fields.csv
  backend/plugins/jira/impl/impl.go
  backend/plugins/jira/models/issue_changelog.go
  backend/plugins/jira/models/issue_field.go
  backend/plugins/jira/models/migrationscripts/20240709_add_tmp_account_id_to_issue_changelog_item.go
  backend/plugins/jira/models/migrationscripts/20240710_add_issue_field_table.go
  backend/plugins/jira/models/migrationscripts/archived/issue_field.go
  backend/plugins/jira/models/migrationscripts/register.go
  backend/plugins/jira/tasks/apiv2models/changelog.go
  backend/plugins/jira/tasks/issue_changelog_convertor.go
  backend/plugins/jira/tasks/issue_changelog_extractor.go
  backend/plugins/jira/tasks/issue_field_collector.go
  backend/plugins/jira/tasks/issue_field_extractor.go
Labels: pr-type/feature-development, type/feature-request, component/plugins, needs-cherrypick-v0.21, needs-cherrypick-v1.0, size:XL, lgtm

#7723 fix: add pr Additions and Deletions (#7714)
  backend/core/models/domainlayer/code/pull_request.go
  backend/core/models/migrationscripts/20240710_add_changes_to_pr.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/azuredevops_go/e2e/snapshot_tables/pull_requests.csv
  backend/plugins/github/e2e/pr_test.go
  backend/plugins/github/e2e/snapshot_tables/_tool_github_pull_requests.csv
  backend/plugins/github/e2e/snapshot_tables/pull_requests.csv
  backend/plugins/github/tasks/pr_convertor.go
  backend/plugins/github_graphql/tasks/pr_collector.go
  backend/plugins/github_graphql/tasks/pr_extractor.go
  backend/plugins/gitlab/e2e/snapshot_tables/pull_requests.csv
Labels: component/plugins, needs-cherrypick-v1.0, size:M, lgtm

#7724 cherry pick #7710 feat(jira): collector accounts from issue changelog items as much as possible to v0.21
  backend/helpers/e2ehelper/data_flow_tester.go
  backend/plugins/jira/e2e/changelog_test.go
  backend/plugins/jira/e2e/raw_tables/_raw_jira_api_issue_fields.csv
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issue_changelog_items_extractor.csv
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issue_fields.csv
  backend/plugins/jira/impl/impl.go
  backend/plugins/jira/models/issue_changelog.go
  backend/plugins/jira/models/issue_field.go
  backend/plugins/jira/models/migrationscripts/20240709_add_tmp_account_id_to_issue_changelog_item.go
  backend/plugins/jira/models/migrationscripts/20240710_add_issue_field_table.go
  backend/plugins/jira/models/migrationscripts/archived/issue_field.go
  backend/plugins/jira/models/migrationscripts/register.go
  backend/plugins/jira/tasks/apiv2models/changelog.go
  backend/plugins/jira/tasks/issue_changelog_convertor.go
  backend/plugins/jira/tasks/issue_changelog_extractor.go
  backend/plugins/jira/tasks/issue_field_collector.go
  backend/plugins/jira/tasks/issue_field_extractor.go
Labels: needs-cherrypick-v0.21, size:XL

#7726 fix(jira): fix `reporter` field in issue change log items
  backend/plugins/jira/tasks/issue_changelog_convertor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v0.21, size:XS, lgtm

#7727 fix: new commits in other branches are not collected
  backend/plugins/gitextractor/parser/clone_gitcli.go
Labels: type/bug, component/plugins, size:L, lgtm

#7730 fix: gitext failed to fetch
  backend/plugins/gitextractor/parser/clone_gitcli.go
Labels: type/bug, component/plugins, needs-cherrypick-v1.0, size:S, lgtm

#7734 fix(jira): fix account id when there is no from/to values
  backend/plugins/jira/tasks/issue_changelog_convertor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v0.21, size:M, lgtm

#7733 fix(framework): add lock when creating pipeline
  backend/server/services/blueprint.go
  backend/server/services/blueprint_makeplan_v200.go
  backend/server/services/pipeline_helper.go
Labels: pr-type/bug-fix, component/framework, needs-cherrypick-v1.0, size:S, lgtm

#7737 fix(jira): fix OriginalToValue in issue_changelogs
  backend/plugins/jira/tasks/issue_changelog_convertor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v0.21, size:XS, lgtm

#7740 Remove the usage of `TmpFromAccountId` and `TmpToAccountId` in Jira issue related data.
  backend/plugins/jira/e2e/changelog_test.go
  backend/plugins/jira/tasks/apiv2models/changelog.go
  backend/plugins/jira/tasks/apiv2models/issue.go
  backend/plugins/jira/tasks/epic_extractor.go
  backend/plugins/jira/tasks/issue_changelog_convertor.go
  backend/plugins/jira/tasks/issue_changelog_extractor.go
  backend/plugins/jira/tasks/issue_extractor.go
Labels: pr-type/bug-fix, needs-cherrypick-v0.21, size:L, lgtm

#7741 cherry pick #7740 "Remove the usage of TmpFromAccountId and TmpToAccountId in Jira issue related data" to v0.21.
  backend/plugins/jira/e2e/changelog_test.go
  backend/plugins/jira/tasks/apiv2models/changelog.go
  backend/plugins/jira/tasks/apiv2models/issue.go
  backend/plugins/jira/tasks/epic_extractor.go
  backend/plugins/jira/tasks/issue_changelog_convertor.go
  backend/plugins/jira/tasks/issue_changelog_extractor.go
  backend/plugins/jira/tasks/issue_extractor.go
Labels: size:L

#7743 cherry pick #7609 refactoring to use simple ApiCollector to release-v1.0
  backend/plugins/bitbucket_server/tasks/pr_collector.go
Labels: pr-type/refactor, component/plugins, cherrypick, size:XS

#7744 cherry pick adding pull_request_id index to pull_request_commits/comments tables (#7559) to release-v1.0
  backend/core/models/migrationscripts/20240603_add_pull_request_id_index_for_pr_comments_table.go
  backend/core/models/migrationscripts/20240603_add_pull_request_id_index_for_pr_commits_table.go
  backend/core/models/migrationscripts/register.go
Labels: needs-cherrypick-v1.0, size:L

#7745 cherry pick refactor: hudson.maven.MavenModuleSet is now treated as a scope (#7599) to release-v1.0
  backend/plugins/jenkins/api/remote_api.go
Labels: pr-type/refactor, component/plugins, needs-cherrypick-v1.0, size:M

#7746 fix: shallow fetch might fail without message if nothing to be fetched
  backend/plugins/gitextractor/parser/clone_gitcli.go
Labels: type/bug, component/plugins, needs-cherrypick-v1.0, size:XS, lgtm

#7748 fix(jira): fix wrong key in `issueFieldMap`
  backend/plugins/jira/tasks/issue_changelog_convertor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v0.21, size:XS, lgtm

#7753 Fix dashboards
  grafana/dashboards/EngineeringThroughputAndCycleTime.json
  grafana/dashboards/EngineeringThroughputAndCycleTimeTeamView.json
  grafana/dashboards/Jira.json
  grafana/dashboards/WeeklyBugRetro.json
Labels: pr-type/bug-fix, severity/p2, component/ext, size:XL, lgtm

#7754 fix: the conditions to filter new and resolved bugs in the Weely Bug Retro dashboard
  grafana/dashboards/WeeklyBugRetro.json
Labels: pr-type/bug-fix, severity/p2, component/ext, size:L, lgtm

#7755 Cherry-pick #7753 #7754 Fix dashboards
  grafana/dashboards/EngineeringThroughputAndCycleTime.json
  grafana/dashboards/EngineeringThroughputAndCycleTimeTeamView.json
  grafana/dashboards/Jira.json
  grafana/dashboards/WeeklyBugRetro.json
Labels: pr-type/bug-fix, severity/p2, component/ext, cherrypick, size:XL, lgtm

#7757 fix: circleci date fields are inconsistent
  backend/helpers/e2ehelper/data_flow_tester.go
  backend/plugins/circleci/e2e/pipeline_test.go
  backend/plugins/circleci/e2e/snapshot_tables/_tool_circleci_pipelines.csv
  backend/plugins/circleci/e2e/snapshot_tables/_tool_circleci_workflows.csv
  backend/plugins/circleci/models/migrationscripts/20240717_add_createddate_to_workflow.go
  backend/plugins/circleci/models/migrationscripts/register.go
  backend/plugins/circleci/models/pipeline.go
  backend/plugins/circleci/models/workflow.go
  backend/plugins/circleci/tasks/workflow_converter.go
  backend/plugins/circleci/tasks/workflow_extractor.go
Labels: component/plugins, pr-type/bug-fix, size:M, lgtm

#7760 refactor: fetch branches before shallow fetch to reduce the total commits collected
  backend/plugins/gitextractor/impl/impl.go
  backend/plugins/gitextractor/parser/clone_gitcli.go
Labels: pr-type/refactor, component/plugins, size:S, lgtm

#7761 fix(jira): set issue_assignees' assignee_name correctly
  backend/plugins/jira/e2e/snapshot_tables/issue_assignees.csv
  backend/plugins/jira/tasks/issue_convertor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:S, lgtm

#7763 fix(gitlab): register `ConvertIssueAssigneeMeta`
  backend/plugins/gitlab/tasks/issue_assignee_convertor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:XS, lgtm

#7767 fix(gitextractor): sanitize git tokens
  backend/plugins/gitextractor/parser/clone_gitcli.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:S, lgtm

#7773 fix(helpers): use `isIncremental` instead of `SyncPolicy.FullSync`
  backend/helpers/pluginhelper/api/api_collector_stateful.go
Labels: severity/p2, needs-cherrypick-v1.0, size:XS, lgtm

#7769 adjust feat and bugfix branchto build image
  .github/workflows/build.yml
Labels: size:XS, lgtm

#7776 adjust dockerfile to use numeric uid instead of username
  backend/Dockerfile
Labels: size:XS, lgtm

#7778 fix(webhook): rollback database when webhook's name is same
  backend/plugins/webhook/api/connection.go
Labels: type/bug, component/plugins, pr-type/bug-fix, needs-cherrypick-v0.21, needs-cherrypick-v1.0, size:XS, lgtm

#7777 fix: no error message when hideToast is true
  config-ui/src/plugins/components/scope-config-form/index.tsx
  config-ui/src/utils/operator.ts
Labels: type/bug, component/config-ui, needs-cherrypick-v0.21, needs-cherrypick-v1.0, size:S, lgtm

#7782 feat: pr add is draft field
  backend/core/models/domainlayer/code/pull_request.go
  backend/core/models/migrationscripts/20240725_add_is_draft_to_pr.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/azuredevops_go/e2e/snapshot_tables/_tool_azuredevops_go_pull_requests.csv
  backend/plugins/azuredevops_go/e2e/snapshot_tables/pull_requests.csv
  backend/plugins/github/e2e/pr_test.go
  backend/plugins/github/e2e/snapshot_tables/_tool_github_pull_requests.csv
  backend/plugins/github/e2e/snapshot_tables/pull_requests.csv
  backend/plugins/github/models/migrationscripts/20240725_add_is_draft_to_pr.go
  backend/plugins/github/models/migrationscripts/register.go
  backend/plugins/github/models/pr.go
  backend/plugins/github/tasks/pr_convertor.go
  backend/plugins/github_graphql/tasks/pr_collector.go
  backend/plugins/github_graphql/tasks/pr_extractor.go
  backend/plugins/gitlab/e2e/snapshot_tables/pull_requests.csv
Labels: pr-type/feature-development, component/plugins, needs-cherrypick-v1.0, size:L, lgtm

#7783 feat(dora): add new option `DisableIssueToIncidentGenerator`
  backend/plugins/dora/impl/impl.go
  backend/plugins/dora/impl/impl_test.go
  backend/plugins/dora/tasks/incident_from_issue_generator.go
  backend/plugins/dora/tasks/incident_from_pull_request_generator.go
  backend/plugins/dora/tasks/task_data.go
Labels: pr-type/feature-development, component/plugins, size:M, lgtm

#7784 feat: remove graphql configuration from github connection
  config-ui/src/features/connections/utils.ts
  config-ui/src/plugins/register/github/config.tsx
  config-ui/src/plugins/register/github/connection-fields/graphql.tsx
  config-ui/src/plugins/register/github/connection-fields/index.ts
  config-ui/src/types/connection.ts
Labels: component/config-ui, needs-cherrypick-v1.0, size:M, lgtm

#7786 fix(github): process bot account in pull_requests table
  backend/plugins/github/tasks/pr_convertor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:XS, lgtm

#7770 fix: circleci plugin pagination
  backend/plugins/circleci/tasks/job_collector.go
  backend/plugins/circleci/tasks/pipeline_collector.go
  backend/plugins/circleci/tasks/shared.go
  backend/plugins/circleci/tasks/task_data.go
  backend/plugins/circleci/tasks/workflow_collector.go
Labels: component/plugins, pr-type/bug-fix, size:L, lgtm

#6943 fix 6892 - avoid adding clause when table not present
  backend/plugins/gitlab/tasks/trigger_job_collector.go
Labels: size:XS, lgtm

#7792 fix: prevent updates to provisioned dashboards to avoid overwriting user modifications
  grafana/provisioning/dashboards/dashboard.yml
Labels: type/bug, component/ext, needs-cherrypick-v1.0, size:XS, lgtm

#7794 fix(domainlayer): issues can be converted to incidents without additional checks
  backend/core/models/domainlayer/ticket/issue.go
Labels: pr-type/refactor, needs-cherrypick-v1.0, size:XS, lgtm

#7800 fix(plugins): fix project_mapping.table field
  backend/plugins/pagerduty/api/blueprint_v200.go
  backend/plugins/trello/api/blueprint_v200.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:S, lgtm

#7801 Add new fields to incidents
  backend/core/models/domainlayer/code/pull_request.go
  backend/core/models/domainlayer/ticket/incident.go
  backend/core/models/domainlayer/ticket/issue.go
  backend/core/models/migrationscripts/20240725_add_table_scope_id_to_incidents.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/dora/tasks/incident_from_issue_generator.go
  backend/plugins/webhook/api/issues.go
Labels: pr-type/feature-development, component/plugins, needs-cherrypick-v1.0, size:M, lgtm

#7798 feat(dashboard): use incident tables in dashboards
  grafana/dashboards/DORADetails-ChangeFailureRate.json
  grafana/dashboards/DORADetails-FailedDeploymentRecoveryTime.json
  grafana/dashboards/DORADetails-TimetoRestoreService.json
Labels: pr-type/feature-development, component/ext, needs-cherrypick-v1.0, size:M, lgtm

#7805 cherry pick #7801 add new fields to incidents to v1.0
  backend/core/models/domainlayer/code/pull_request.go
  backend/core/models/domainlayer/ticket/incident.go
  backend/core/models/domainlayer/ticket/issue.go
  backend/core/models/migrationscripts/20240725_add_table_scope_id_to_incidents.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/dora/tasks/incident_from_issue_generator.go
  backend/plugins/webhook/api/issues.go
Labels: component/plugins, cherrypick, needs-cherrypick-v1.0, size:M

#7806 fix(dora): use table incidents to make connection with deployments
  backend/plugins/dora/e2e/connect_incident_to_deploy_test.go
  backend/plugins/dora/e2e/connect_incident_to_deployment/prev_success_deployment_commit/cicd_deployment_commits_after.csv
  backend/plugins/dora/e2e/connect_incident_to_deployment/raw_tables/incidents.csv
  backend/plugins/dora/e2e/connect_incident_to_deployment/raw_tables/project_mapping.csv
  backend/plugins/dora/e2e/connect_incident_to_deployment/snapshot_tables/project_incident_deployment_relationships.csv
  backend/plugins/dora/impl/impl.go
  backend/plugins/dora/impl/impl_test.go
  backend/plugins/dora/tasks/incident_deploy_connector.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:M, lgtm
