Repository apache/incubator-devlake, pull requests merged in 2024-09, with the labels that each got.

#7989 fix: go ci lint
  .github/workflows/golangci-lint.yml
  backend/go.mod
  backend/go.sum
Labels: devops, pr-type/bug-fix, size:S, lgtm

#7993 refactor: upgrade grafana to v11.2.0
  grafana/Dockerfile
Labels: pr-type/refactor, component/ext, size:XS, lgtm

#7995 fix: non-git users can build devlake
  Makefile
  backend/Makefile
Labels: pr-type/bug-fix, severity/p1, size:XS, lgtm

#7998 feat: add releases devops files
  devops/releases/lake-v1.0.0/docker-compose.yml
  devops/releases/lake-v1.0.0/env.example
  devops/releases/lake-v1.0.1/docker-compose.yml
  devops/releases/lake-v1.0.1/env.example
Labels: pr-type/feature-development, devops, size:L, lgtm

#8006 feat(domain): add is_child field to table cicd_pipelines
  backend/core/models/domainlayer/devops/cicd_pipeline.go
  backend/core/models/migrationscripts/20240906_add_is_child_to_cicd_pipelines.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/bamboo/e2e/plan_build_test.go
  backend/plugins/circleci/e2e/workflow_test.go
  backend/plugins/github/e2e/cicd_run_test.go
  backend/plugins/gitlab/e2e/pipelines_detail_test.go
Labels: pr-type/feature-development, devops, needs-cherrypick-v1.0, size:M, lgtm

#8011 Avoid panic
  backend/plugins/ae/impl/impl.go
  backend/plugins/azuredevops_go/impl/impl.go
  backend/plugins/bamboo/impl/impl.go
  backend/plugins/bitbucket/impl/impl.go
  backend/plugins/bitbucket_server/impl/impl.go
  backend/plugins/circleci/impl/impl.go
  backend/plugins/feishu/impl/impl.go
  backend/plugins/gitee/impl/impl.go
  backend/plugins/gitlab/impl/impl.go
  backend/plugins/gitlab/tasks/account_extractor.go
  backend/plugins/icla/impl/impl.go
  backend/plugins/jenkins/impl/impl.go
  backend/plugins/jira/impl/impl.go
  backend/plugins/slack/impl/impl.go
  backend/plugins/sonarqube/impl/impl.go
  backend/plugins/tapd/impl/impl.go
  backend/plugins/teambition/impl/impl.go
  backend/plugins/trello/impl/impl.go
  backend/plugins/zentao/impl/impl.go
Labels: component/plugins, pr-type/bug-fix, size:L, lgtm

#8012 refactor: use redux to rewrite onboard
  config-ui/src/app/store.ts
  config-ui/src/features/onboard/index.ts
  config-ui/src/features/onboard/slice.ts
  config-ui/src/routes/app/app.tsx
  config-ui/src/routes/app/loader.ts
  config-ui/src/routes/layout/layout.tsx
  config-ui/src/routes/onboard/components/card.tsx
  config-ui/src/routes/onboard/components/tour.tsx
  config-ui/src/routes/onboard/index.tsx
  config-ui/src/routes/onboard/step-0.tsx
  config-ui/src/routes/onboard/step-1.tsx
  config-ui/src/routes/onboard/step-2.tsx
  config-ui/src/routes/onboard/step-3.tsx
  config-ui/src/routes/onboard/step-4.tsx
Labels: pr-type/refactor, component/config-ui, size:XL, lgtm

#8007 fix: webhook will be deleted when disconnected from project
  config-ui/src/plugins/register/webhook/components/delete-dialog.tsx
  config-ui/src/plugins/register/webhook/connection.tsx
  config-ui/src/routes/project/webhook/index.tsx
Labels: pr-type/bug-fix, component/config-ui, severity/p1, size:M, lgtm

#8014 refactor: adjust redux dir and structure
  config-ui/src/App.tsx
  config-ui/src/api/index.ts
  config-ui/src/app/routrer.tsx
  config-ui/src/app/store.ts
  config-ui/src/features/connections/slice.ts
  config-ui/src/features/onboard/slice.ts
  config-ui/src/features/version/index.ts
  config-ui/src/features/version/slice.ts
  config-ui/src/plugins/components/connection-form/index.tsx
  config-ui/src/plugins/register/webhook/components/create-dialog.tsx
  config-ui/src/plugins/register/webhook/components/delete-dialog.tsx
  config-ui/src/plugins/register/webhook/components/edit-dialog.tsx
  config-ui/src/plugins/register/webhook/components/selector-dialog.tsx
  config-ui/src/plugins/register/webhook/components/view-dialog.tsx
  config-ui/src/routes/app/index.ts
  config-ui/src/routes/app/loader.ts
  config-ui/src/routes/blueprint/detail/components/add-connection-dialog/index.tsx
  config-ui/src/routes/blueprint/detail/configuration-panel.tsx
  config-ui/src/routes/blueprint/home/index.tsx
  config-ui/src/routes/connection/connection.tsx
  config-ui/src/routes/index.ts
  config-ui/src/routes/layout/layout.tsx
  config-ui/src/routes/project/home/index.tsx
Labels: pr-type/refactor, component/config-ui, size:L, lgtm

#8015 fix: onboard initial status error
  config-ui/src/features/onboard/slice.ts
Labels: pr-type/bug-fix, component/config-ui, size:S, lgtm

#8016 feat(gitlab): update ExtractApiChildPipelines
  backend/plugins/gitlab/tasks/child_pipeline_extractor.go
Labels: component/plugins, size:S, lgtm

#8019 feat(circleci): restranformate without api client
  backend/plugins/circleci/impl/impl.go
Labels: pr-type/feature-development, component/plugins, size:S

#8021 refactor: use basename to replace configuration PATHS
  config-ui/src/api/project/index.ts
  config-ui/src/app/routrer.tsx
  config-ui/src/config/index.ts
  config-ui/src/config/paths.ts
  config-ui/src/plugins/components/connection-list/index.tsx
  config-ui/src/plugins/components/data-scope-select/index.tsx
  config-ui/src/plugins/components/scope-config/index.tsx
  config-ui/src/routes/api-keys/api-keys.tsx
  config-ui/src/routes/blueprint/connection-detail/index.tsx
  config-ui/src/routes/blueprint/detail/blueprint-detail-page.tsx
  config-ui/src/routes/blueprint/detail/components/add-connection-dialog/index.tsx
  config-ui/src/routes/blueprint/detail/configuration-panel.tsx
  config-ui/src/routes/blueprint/detail/status-panel.tsx
  config-ui/src/routes/blueprint/home/index.tsx
  config-ui/src/routes/connection/connection.tsx
  config-ui/src/routes/connection/connections.tsx
  config-ui/src/routes/db-migrate/index.tsx
  config-ui/src/routes/error/index.tsx
  config-ui/src/routes/layout/config.tsx
  config-ui/src/routes/onboard/index.tsx
  config-ui/src/routes/onboard/step-0.tsx
  config-ui/src/routes/onboard/step-1.tsx
  config-ui/src/routes/onboard/step-2.tsx
  config-ui/src/routes/pipeline/pipeline.tsx
  config-ui/src/routes/pipeline/pipelines.tsx
  config-ui/src/routes/project/additional-settings/index.tsx
  config-ui/src/routes/project/home/index.tsx
  config-ui/src/routes/project/index.ts
  config-ui/src/routes/project/layout/index.tsx
  config-ui/src/routes/project/layout/project-selector.tsx
  config-ui/src/routes/project/utils.ts
Labels: pr-type/refactor, component/config-ui, size:L

#8022 fix: some bugs for project layout
  config-ui/src/routes/blueprint/detail/blueprint-detail.tsx
  config-ui/src/routes/blueprint/detail/components/add-connection-dialog/index.tsx
  config-ui/src/routes/blueprint/detail/components/index.ts
  config-ui/src/routes/blueprint/detail/components/update-name-dialog/index.tsx
  config-ui/src/routes/blueprint/detail/configuration-panel.tsx
  config-ui/src/routes/project/home/index.tsx
  config-ui/src/routes/project/layout/index.tsx
  config-ui/src/routes/project/webhook/index.tsx
Labels: pr-type/bug-fix, component/config-ui, size:L, lgtm

#8024 fix: deployment name too long when commits are too many
  backend/plugins/webhook/api/deployments.go
Labels: component/plugins, pr-type/bug-fix, size:S, lgtm

#8023 fix: distinguish update tips
  config-ui/src/routes/blueprint/detail/configuration-panel.tsx
  config-ui/src/routes/blueprint/detail/status-panel.tsx
Labels: component/config-ui, size:XS, lgtm

#8025 refactor: simplify miller columns
  config-ui/package.json
  config-ui/src/api/scope/index.ts
  config-ui/src/plugins/components/data-scope-remote/search-local.tsx
  config-ui/src/plugins/components/data-scope-remote/search-remote.tsx
  config-ui/src/plugins/components/data-scope-select/index.tsx
  config-ui/src/plugins/register/webhook/components/selector-dialog.tsx
  config-ui/yarn.lock
Labels: pr-type/refactor, component/config-ui, size:XL, lgtm

#8030 fix: redux initial error
  config-ui/src/app/routrer.tsx
  config-ui/src/features/connections/slice.ts
  config-ui/src/features/onboard/slice.ts
  config-ui/src/features/version/slice.ts
  config-ui/src/types/status.ts
Labels: pr-type/bug-fix, component/config-ui, size:S, lgtm

#8031 refactor: remove content about ahooks
  config-ui/package.json
  config-ui/src/plugins/components/data-scope-remote/search-local.tsx
  config-ui/src/plugins/components/data-scope-remote/search-remote.tsx
  config-ui/src/plugins/components/data-scope-select/index.tsx
  config-ui/src/plugins/register/jira/transformation-fields/remote-link.tsx
  config-ui/src/routes/project/layout/project-selector.tsx
  config-ui/yarn.lock
Labels: pr-type/refactor, component/config-ui, size:S, lgtm

#8032 fix: github dora config api
  backend/plugins/github/api/connection_api.go
  backend/plugins/github/api/scope_config_api.go
  backend/plugins/github/impl/impl.go
Labels: component/plugins, pr-type/bug-fix, size:L

#8035 feat(azuredevops): restranformate without api client
  backend/python/pydevlake/pydevlake/ipc.py
  backend/python/pydevlake/pydevlake/plugin.py
  backend/python/pydevlake/pydevlake/stream.py
  backend/server/services/remote/plugin/plugin_extensions.go
Labels: pr-type/feature-development, component/pydevlake, size:M

#8038 feat: circleci dora config
  backend/plugins/circleci/api/connection_api.go
  backend/plugins/circleci/impl/impl.go
Labels: pr-type/feature-development, component/plugins, devops, size:M

#8039 feat(azuredevops): restranformate without api client (#8035)
  backend/python/pydevlake/pydevlake/ipc.py
  backend/python/pydevlake/pydevlake/plugin.py
  backend/python/pydevlake/pydevlake/stream.py
  backend/python/pydevlake/pydevlake/testing/testing.py
  backend/server/services/remote/plugin/plugin_extensions.go
Labels: pr-type/feature-development, component/plugins, size:M, lgtm

#8041 feat(framwork): add custom project service
  backend/server/api/api.go
  backend/server/services/init.go
  backend/server/services/project.go
Labels: pr-type/feature-development, component/framework, needs-cherrypick-v1.0, size:M, lgtm

#8043 feat: bitbucket dora config
  backend/plugins/bitbucket/api/connection_api.go
  backend/plugins/bitbucket/impl/impl.go
Labels: component/plugins, size:M

#8044 fix(project): update project's default sync policy
  backend/server/services/project.go
Labels: pr-type/bug-fix, size:XS, lgtm

#8036 feat: adjust some content for github app
  config-ui/src/plugins/components/connection-form/fields/endpoint.tsx
  config-ui/src/plugins/register/github/connection-fields/authentication.tsx
  config-ui/src/plugins/register/github/connection-fields/githubapp.tsx
Labels: pr-type/feature-development, component/config-ui, size:S, lgtm

#8037 chore: use weekly to replace daily collect in blueprint
  config-ui/src/routes/blueprint/home/index.tsx
Labels: component/config-ui, size:XS, lgtm

#8045 feat: bamboo dora config
  backend/plugins/bamboo/api/connection_api.go
  backend/plugins/bamboo/impl/impl.go
  backend/plugins/bamboo/tasks/plan_build_convertor.go
  backend/plugins/bamboo/tasks/plan_build_extractor.go
  backend/plugins/bamboo/tasks/plan_convertor.go
  backend/plugins/bamboo/tasks/shared.go
  backend/plugins/bamboo/tasks/shared_test.go
Labels: pr-type/feature-development, component/plugins, size:L

#8048 fix: updating jira storypoint field should refresh all records
  backend/plugins/jira/e2e/issue_relationship_test.go
  backend/plugins/jira/tasks/issue_extractor.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, needs-cherrypick-v1.0, size:XS, lgtm

#8050 fix: some small adjustments
  config-ui/Dockerfile
  config-ui/src/routes/blueprint/detail/components/add-connection-dialog/index.tsx
  config-ui/src/routes/blueprint/detail/configuration-panel.tsx
  config-ui/src/routes/project/layout/index.tsx
Labels: component/config-ui, size:S, lgtm

#8053 feat: azure dora config
  backend/server/services/remote/plugin/connection_api.go
  backend/server/services/remote/plugin/default_api.go
Labels: pr-type/feature-development, component/framework, size:M

#8054 fix(framework): fix finished_record count in _devlake_subtasks
  backend/core/runner/run_task.go
Labels: pr-type/bug-fix, component/framework, severity/p1, size:S, lgtm

#8056 fix: prod match when is nil
  backend/plugins/bamboo/api/connection_api.go
  backend/plugins/bamboo/tasks/plan_build_extractor.go
  backend/plugins/bitbucket/api/connection_api.go
  backend/plugins/circleci/api/connection_api.go
  backend/plugins/github/api/connection_api.go
  backend/plugins/gitlab/api/connection_api.go
  backend/plugins/gitlab/tasks/pipeline_detail_extractor.go
  backend/plugins/jenkins/api/connection_api.go
  backend/server/services/remote/plugin/connection_api.go
Labels: size:M

#8060 fix: update github trans-to-deployment scope config to pointer
  backend/plugins/github/impl/impl.go
  backend/plugins/github/models/scope_config.go
  backend/plugins/github/tasks/cicd_job_extractor.go
  backend/plugins/github/tasks/cicd_run_extractor.go
  backend/plugins/github_graphql/impl/impl.go
  backend/plugins/github_graphql/tasks/job_extractor.go
Labels: size:M

#8062 fix: update gitlab trans-to-deployment scope config to pointer
  backend/plugins/gitlab/impl/impl.go
  backend/plugins/gitlab/models/scope_config.go
  backend/plugins/gitlab/tasks/job_convertor.go
  backend/plugins/gitlab/tasks/pipeline_detail_extractor.go
Labels: component/plugins, pr-type/bug-fix, size:S

#8063 fix(utils): add new function ApiOutputAdvancedErrorWithCustomCode
  backend/server/api/shared/api_output.go
Labels: pr-type/feature-development, component/framework, needs-cherrypick-v1.0, size:S, lgtm

#8068 fix: increase cq_issuescomponent length to text
  backend/core/models/domainlayer/codequality/cq_issues.go
  backend/core/models/migrationscripts/20240919_increase_cq_issue_component_length.go
  backend/core/models/migrationscripts/register.go
Labels: pr-type/bug-fix, size:M, lgtm

#8000 feat: add deployment URL mapping to webhook plugin
  backend/plugins/webhook/api/deployments.go
  config-ui/src/plugins/register/webhook/components/utils.ts
Labels: pr-type/feature-development, component/plugins, component/config-ui, size:XS, lgtm

#8071 feat: improve the pipeline duration display
  config-ui/src/routes/pipeline/components/duration.tsx
Labels: pr-type/feature-development, component/config-ui, size:S, lgtm

#8070 fix(migration): panic when `ExecuteMigration` fails
  backend/server/api/api.go
  backend/server/services/init.go
Labels: pr-type/bug-fix, component/framework, severity/p1, size:XS

#8074 fix: typo
  config-ui/src/routes/project/additional-settings/index.tsx
Labels: component/config-ui, size:XS, lgtm

#8077 fix: data scope doesn't display name when selecting in project
  config-ui/src/plugins/components/data-scope-select/index.tsx
  config-ui/src/routes/blueprint/connection-detail/index.tsx
  config-ui/src/routes/blueprint/connection-detail/table.tsx
Labels: pr-type/bug-fix, component/config-ui, size:M, lgtm

#8078 fix: display < 1m when duration less than 1m
  config-ui/src/routes/pipeline/components/duration.tsx
Labels: pr-type/bug-fix, component/config-ui, size:XS, lgtm

#8079 fix: set status to done when onboard tour close
  config-ui/src/index.css
  config-ui/src/routes/onboard/components/tour.tsx
Labels: pr-type/bug-fix, component/config-ui, size:S, lgtm

#8081 fix(project): project cannot be deleted when its pipelines are not finished
  backend/core/models/task.go
  backend/server/services/blueprint.go
  backend/server/services/project.go
Labels: pr-type/bug-fix, severity/p1, needs-cherrypick-v1.0, size:M, lgtm

#8082 cherry pick #8081 fix(project): project cannot be deleted when its pipelines are not finished to v1.0
  backend/core/models/task.go
  backend/server/services/blueprint.go
  backend/server/services/project.go
Labels: size:M

#8084 fix: the start and end times are reversed
  config-ui/src/routes/pipeline/components/duration.tsx
Labels: pr-type/bug-fix, component/config-ui, size:S, lgtm

#8083 fix: version tag
  Makefile
  backend/Makefile
Labels: pr-type/bug-fix, severity/p1, size:XS, lgtm

#8085 fix: bitbucket sql
  backend/plugins/bitbucket/api/connection_api.go
Labels: size:XS

#8086 Update error message
  backend/server/services/blueprint.go
  backend/server/services/project.go
Labels: component/framework, size:XS, lgtm

#8087 cherry pick Update error message #8086 to v1.0
  backend/server/services/blueprint.go
  backend/server/services/project.go
Labels: size:XS

#8089 fix: add a space for pipeline duration
  config-ui/src/routes/pipeline/components/duration.tsx
Labels: pr-type/bug-fix, component/config-ui, size:XS, lgtm

#8088 fix(github-plugin): removes the processed org check to return all the…
  backend/plugins/github/api/remote_api.go
Labels: component/plugins, pr-type/bug-fix, size:S, lgtm

#8067 refactor: CollectAccounts now uses simple ApiCollector
  backend/plugins/sonarqube/tasks/accounts_collector.go
Labels: pr-type/refactor, component/plugins, size:S, lgtm

#8090 fix: enrich with regex can not match
  backend/helpers/pluginhelper/api/enrich_with_regex.go
  backend/plugins/github_graphql/impl/impl.go
  backend/plugins/github_graphql/tasks/deployment_convertor.go
Labels: component/plugins, pr-type/bug-fix, size:S

#8099 feat(project): add token check result in project check API
  backend/core/models/project.go
  backend/server/api/project/project.go
  backend/server/services/project.go
Labels: pr-type/feature-development, component/framework, size:M

#8100 Dev 1
  backend/core/models/project.go
  backend/server/services/project.go
Labels: component/framework, size:M

#8101 Dev 1
  backend/server/api/project/project.go
Labels: component/framework, size:XS

#8097 Add missing URL
  config-ui/src/plugins/components/scope-config-form/index.tsx
  config-ui/src/release/stable.ts
Labels: pr-type/bug-fix, component/config-ui, size:XS, lgtm

#8104 feat: improve performance of the listing-scope-config-projects-and-scopes
  backend/helpers/srvhelper/scope_config_service_helper.go
Labels: pr-type/feature-development, component/framework, needs-cherrypick-v1.0, size:L, lgtm

#7997 feat: gitlab extractors and convertors support incremental mode
  backend/helpers/pluginhelper/api/api_extractor_stateful.go
  backend/helpers/pluginhelper/api/api_rawdata.go
  backend/helpers/pluginhelper/api/data_convertor_stateful.go
  backend/helpers/pluginhelper/api/enrich_with_regex.go
  backend/helpers/pluginhelper/api/subtask_state_manager.go
  backend/impls/dalgorm/encdec_serializer.go
  backend/plugins/gitlab/e2e/mr_commits_test.go
  backend/plugins/gitlab/e2e/mr_detail_test.go
  backend/plugins/gitlab/e2e/mr_enrich_test.go
  backend/plugins/gitlab/e2e/snapshot_tables/_tool_gitlab_merge_requests_for_enrich_test.csv
  backend/plugins/gitlab/e2e/snapshot_tables/_tool_gitlab_merge_requests_for_mr_commit_test.csv
  backend/plugins/gitlab/e2e/snapshot_tables/_tool_gitlab_merge_requests_for_mr_notes_test.csv
  backend/plugins/gitlab/e2e/snapshot_tables/commits.csv
  backend/plugins/gitlab/e2e/snapshot_tables/repo_commits.csv
  backend/plugins/gitlab/models/migrationscripts/20240904_remove_mr_review_fields.go
  backend/plugins/gitlab/models/mr.go
  backend/plugins/gitlab/tasks/account_collector.go
  backend/plugins/gitlab/tasks/child_pipeline_extractor.go
  backend/plugins/gitlab/tasks/commit_collector.go
  backend/plugins/gitlab/tasks/commit_convertor.go
  backend/plugins/gitlab/tasks/commit_extractor.go
  backend/plugins/gitlab/tasks/deployment_convertor.go
  backend/plugins/gitlab/tasks/deployment_extractor.go
  backend/plugins/gitlab/tasks/issue_assignee_convertor.go
  backend/plugins/gitlab/tasks/issue_convertor.go
  backend/plugins/gitlab/tasks/issue_extractor.go
  backend/plugins/gitlab/tasks/issue_label_convertor.go
  backend/plugins/gitlab/tasks/job_convertor.go
  backend/plugins/gitlab/tasks/job_extractor.go
  backend/plugins/gitlab/tasks/mr_assignee_convertor.go
  backend/plugins/gitlab/tasks/mr_commit_convertor.go
  backend/plugins/gitlab/tasks/mr_commit_extractor.go
  backend/plugins/gitlab/tasks/mr_convertor.go
  backend/plugins/gitlab/tasks/mr_detail_extractor.go
  backend/plugins/gitlab/tasks/mr_enricher.go
  backend/plugins/gitlab/tasks/mr_enricher_test.go
  backend/plugins/gitlab/tasks/mr_extractor.go
  backend/plugins/gitlab/tasks/mr_label_convertor.go
  backend/plugins/gitlab/tasks/mr_note_convertor.go
  backend/plugins/gitlab/tasks/mr_note_extractor.go
  backend/plugins/gitlab/tasks/mr_reviewer_convertor.go
  backend/plugins/gitlab/tasks/pipeline_commit_convertor.go
  backend/plugins/gitlab/tasks/pipeline_detail_convertor.go
  backend/plugins/gitlab/tasks/pipeline_detail_extractor.go
  backend/plugins/gitlab/tasks/pipeline_extractor.go
  backend/plugins/gitlab/tasks/shared.go
  backend/plugins/gitlab/tasks/trigger_job_extractor.go
  backend/plugins/jira/tasks/epic_extractor.go
  backend/plugins/jira/tasks/issue_changelog_convertor.go
  backend/plugins/jira/tasks/issue_changelog_extractor.go
  backend/plugins/jira/tasks/issue_convertor.go
  backend/plugins/jira/tasks/issue_extractor.go
  backend/server/api/blueprints/blueprints.go
  config-ui/src/routes/blueprint/detail/status-panel.tsx
Labels: pr-type/feature-development, component/plugins, needs-cherrypick-v1.0, size:XXL, lgtm

#8109 feat: keep source table name as destination table name (#8108)
  backend/plugins/starrocks/tasks/tasks.go
Labels: pr-type/feature-development, component/plugins, size:XS, lgtm

#8110 cherry-pick: keep source table name as destination table name (#8108)
  backend/plugins/starrocks/tasks/tasks.go
Labels: component/plugins, cherrypick, size:XS

#8111 cherry-pick: keep source table name as destination table name (#8108)
  backend/plugins/starrocks/tasks/tasks.go
Labels: component/plugins, cherrypick, size:XS

#8112 feat: simplify the miller columns
  config-ui/package.json
  config-ui/src/plugins/components/data-scope-remote/search-local.tsx
  config-ui/src/plugins/components/data-scope-remote/search-remote.tsx
  config-ui/src/plugins/components/data-scope-select/index.tsx
  config-ui/src/plugins/register/webhook/components/selector-dialog.tsx
  config-ui/yarn.lock
Labels: pr-type/feature-development, component/config-ui, size:L

#8114 fix: improve the time filters in DORA dashboards
  grafana/dashboards/DORA.json
  grafana/dashboards/DORAByTeam.json
  grafana/dashboards/DORADebug.json
Labels: component/ext, size:S, lgtm

#8115 fix(zentao): make `gitcommited` a valiad action
  backend/plugins/zentao/tasks/bug_commits_extractor.go
  backend/plugins/zentao/tasks/story_commits_extractor.go
  backend/plugins/zentao/tasks/task_commits_extractor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v0.21, needs-cherrypick-v1.0, size:S, lgtm

#8120 fix: limit the wrapper width to 960
  config-ui/src/routes/layout/layout.tsx
Labels: component/config-ui, severity/p2, size:XS, lgtm

#8119 fix: rewriting to remove warnings
  config-ui/.eslintrc.cjs
  config-ui/.prettierrc.cjs
  config-ui/README.md
  config-ui/package.json
  config-ui/public/onboard/step-1/github.md
  config-ui/public/onboard/step-3/azuredevops.md
  config-ui/src/index.css
  config-ui/src/main.tsx
  config-ui/src/plugins/components/scope-config-form/index.tsx
Labels: component/config-ui, size:S, lgtm
