Repository apache/incubator-devlake, pull requests merged in 2024-12, with the labels that each got.

#8201 fix: gitlab wont return total page if total number of records exceeded 10k
  backend/helpers/pluginhelper/api/api_collector.go
  backend/plugins/gitlab/tasks/shared.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, size:M

#8238 fix(framework): fix errors when updating `is_failed` in PG
  backend/core/runner/run_task.go
Labels: pr-type/bug-fix, component/framework, needs-cherrypick-v1.0, size:XS, lgtm

#8233 fix: add pagination to job_collector task
  backend/plugins/github_graphql/tasks/job_collector.go
Labels: component/plugins, pr-type/bug-fix, size:M

#8243 fix: jira sprint e2e test failing
  backend/plugins/jira/models/response_type.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:XS

#8240 fix: add pagination to job_collector task
  backend/plugins/github_graphql/tasks/job_collector.go
Labels: component/plugins, pr-type/bug-fix, size:M

#8244 fix(tapd): fix overflow when converting lead time minutes
  backend/plugins/tapd/tasks/bug_converter.go
Labels: pr-type/bug-fix, needs-cherrypick-v1.0, size:XS

#8245 fix(zentao): make sure connection uncacheable
  backend/helpers/pluginhelper/api/ds_remote_api_proxy_api.go
  backend/plugins/zentao/models/connection.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:S
