Repository apache/incubator-devlake, pull requests merged in 2024-10, with the labels that each got.

#8133 feat: adjust the menu
  config-ui/src/app/routrer.tsx
  config-ui/src/routes/layout/config.tsx
Labels: pr-type/feature-development, component/config-ui, size:M, lgtm

#8134 refactor: remove the environment variable copyright hide
  config-ui/env.example
  config-ui/src/routes/layout/layout.tsx
Labels: pr-type/refactor, component/config-ui, size:S, lgtm

#8137 fix: #8091 sonarqube dashboard
  grafana/dashboards/Sonarqube.json
Labels: pr-type/bug-fix, component/ext, size:L, lgtm

#8140 feat: add sonarcloud dashboard
  grafana/dashboards/SonarQubeCloud.json
Labels: pr-type/feature-development, component/ext, size:XXL

#8141 cherry-pick #8137 fix: #8091 sonarqube dashboard (#8137)
  grafana/dashboards/Sonarqube.json
Labels: component/ext, size:L

#8147 fix(grafana): remove extra date condition that is applied together wi…
  grafana/dashboards/DORADetails-LeadTimeforChanges.json
  grafana/dashboards/EngineeringOverview.json
  grafana/dashboards/EngineeringThroughputAndCycleTime.json
  grafana/dashboards/WorkLogs.json
Labels: pr-type/bug-fix, component/ext, size:M, lgtm

#7986 feat(circleci-plugin): incremental data collection
  backend/helpers/pluginhelper/api/api_collector_stateful.go
  backend/plugins/circleci/tasks/job_collector.go
  backend/plugins/circleci/tasks/pipeline_collector.go
  backend/plugins/circleci/tasks/shared.go
  backend/plugins/circleci/tasks/workflow_collector.go
Labels: pr-type/feature-development, component/plugins, devops, size:L, lgtm

#8136 fix(gitextractor): subtask Clone Git Repo ended unexpectedly
  backend/plugins/gitextractor/impl/impl.go
  backend/plugins/gitextractor/parser/taskdata.go
  backend/plugins/github/api/blueprint_v200.go
  backend/plugins/github/impl/impl.go
  backend/plugins/gitlab/api/blueprint_V200_test.go
  backend/plugins/gitlab/api/blueprint_v200.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, size:L, lgtm

#8152 feat: not update sub task progress if progress less than 1 pct
  backend/core/runner/run_task.go
Labels: size:S, lgtm

#8153 Cherry pick #8152 to release v1.0
  backend/core/runner/run_task.go
Labels: cherrypick, size:S, lgtm

#8154 feat(framework): skip to update progress of subtasks
  backend/core/runner/run_task.go
  env.example
Labels: pr-type/feature-development, component/framework, size:XS, lgtm

#8155 feat(framework): skip to update progress of subtasks
  backend/core/runner/run_task.go
  env.example
Labels: pr-type/feature-development, component/framework, size:XS

#8156 fix: onboard / configure connection's plugin name is fixed to GitHub
  config-ui/src/routes/onboard/step-2.tsx
Labels: component/config-ui, needs-cherrypick-v1.0, size:S, lgtm

#8157 fix: onboard / configure connection's plugin name is fixed to GitHub
  config-ui/src/routes/onboard/step-2.tsx
Labels: component/config-ui, needs-cherrypick-v1.0, size:S

#8161 refactor: CollectAccounts now uses simple ApiCollector (#8067)
  backend/plugins/sonarqube/tasks/accounts_collector.go
Labels: pr-type/refactor, component/plugins, size:S

#8164 feat(tapd): add more log when converting unicode
  backend/plugins/tapd/tasks/bug_changelog_extractor.go
  backend/plugins/tapd/tasks/story_changelog_extractor.go
  backend/plugins/tapd/tasks/task_changelog_extractor.go
Labels: pr-type/feature-development, component/plugins, needs-cherrypick-v0.21, needs-cherrypick-v1.0, size:S, lgtm

#8168 docs: fixes a typo
  README.md
Labels: component/docs, size:S, lgtm

#8167 fix: make sql query PostgreSQL compatible
  backend/plugins/dora/tasks/incident_from_issue_generator.go
Labels: component/plugins, pr-type/bug-fix, size:S
