Repository apache/incubator-devlake, pull requests merged in 2024-06, with the labels that each got.

#7565 feat: starrocks add STARROCKS_REPLICAS_NUM env
  backend/plugins/starrocks/tasks/tasks.go
Labels: pr-type/feature-development, component/plugins, needs-cherrypick-v0.21, size:XS, lgtm

#7567 Update GET /projects API, fetch projects in parallel
  backend/go.mod
  backend/go.sum
  backend/server/services/pipeline.go
  backend/server/services/project.go
Labels: pr-type/refactor, size:M, lgtm

#7566 kw fix webhook deployment result
  backend/plugins/webhook/api/deployments.go
Labels: pr-type/feature-development, component/plugins, pr-type/bug-fix, component/config-ui, size:XS, lgtm

#7544 feat: add issue_trace plugin
  backend/plugins/issue_trace/api/init.go
  backend/plugins/issue_trace/e2e/general_issue_assignee_history_test.go
  backend/plugins/issue_trace/e2e/general_issue_status_history_test.go
  backend/plugins/issue_trace/e2e/meta.go
  backend/plugins/issue_trace/e2e/raw_tables/board_issues.csv
  backend/plugins/issue_trace/e2e/raw_tables/issue_changelogs.csv
  backend/plugins/issue_trace/e2e/raw_tables/issues.csv
  backend/plugins/issue_trace/e2e/snapshot_tables/issue_assignee_history.csv
  backend/plugins/issue_trace/e2e/snapshot_tables/issue_status_history.csv
  backend/plugins/issue_trace/impl/enricher.go
  backend/plugins/issue_trace/issue_trace.go
  backend/plugins/issue_trace/models/issue_assignee_history.go
  backend/plugins/issue_trace/models/issue_status_history.go
  backend/plugins/issue_trace/models/migrationscripts/2024_05_30_new_issue_table.go
  backend/plugins/issue_trace/services/query.go
  backend/plugins/issue_trace/tasks/issue_assignee_history_convertor.go
  backend/plugins/issue_trace/tasks/issue_status_history_convertor.go
  backend/plugins/issue_trace/tasks/issue_status_history_convertor_test.go
  backend/plugins/issue_trace/tasks/task_data.go
  backend/plugins/issue_trace/utils/array.go
  backend/plugins/issue_trace/utils/constant.go
  backend/plugins/issue_trace/utils/context.go
  backend/plugins/table_info_test.go
Labels: pr-type/feature-development, type/feature-request, component/plugins, add-a-plugin, size:XXL, lgtm

#7541 fix(github): use different graphql path in enterprise version
  backend/plugins/github_graphql/impl/impl.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, size:S, lgtm

#7573 fix: add primary key to _tool_gitlab_assignees and _tool_gitlab_reviewers tables
  backend/plugins/gitlab/models/assignee.go
  backend/plugins/gitlab/models/migrationscripts/20240605_add_mr_assignees_and_reviewers_primary_key.go
  backend/plugins/gitlab/models/migrationscripts/register.go
  backend/plugins/gitlab/models/reviewer.go
Labels: type/bug, component/plugins, needs-cherrypick-v0.21, size:M, lgtm

#7576 fix: if no data, the On-time Delivery chart should show no data
  backend/plugins/dora/e2e/change_lead_time/project_pr_metrics.csv
  backend/plugins/dora/tasks/change_lead_time_calculator.go
  grafana/dashboards/EngineeringOverview.json
Labels: pr-type/bug-fix, severity/p2, component/ext, size:S, lgtm

#7569 feat: add jira_trace plugin to jira bp
  backend/plugins/issue_trace/e2e/meta.go
  backend/plugins/issue_trace/e2e/snapshot_tables/issue_status_history.csv
  backend/plugins/issue_trace/impl/enricher.go
  backend/plugins/issue_trace/tasks/issue_assignee_history_convertor.go
  backend/plugins/issue_trace/tasks/issue_status_history_convertor.go
  backend/plugins/issue_trace/tasks/issue_status_history_convertor_test.go
  backend/plugins/issue_trace/tasks/task_data.go
  backend/plugins/jira/tasks/issue_changelog_collector.go
  backend/plugins/jira/tasks/issue_changelog_convertor.go
  backend/plugins/jira/tasks/issue_changelog_extractor.go
Labels: pr-type/feature-development, component/plugins, size:L, lgtm

#7578 fix(zentao): fix unexpected data
  backend/plugins/zentao/api/remote_api.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:S, lgtm

#7580 Fix bitbucket server 0606
  backend/plugins/bitbucket_server/e2e/snapshot_tables/_tool_bitbucket_server_pull_requests.csv
  backend/plugins/bitbucket_server/e2e/snapshot_tables/_tool_bitbucket_server_users_in_pr.csv
  backend/plugins/bitbucket_server/e2e/snapshot_tables/pull_requests.csv
  backend/plugins/bitbucket_server/tasks/pr_extractor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:XS, lgtm

#7577 fix: bitbucket server pr commit 404
  backend/plugins/bitbucket_server/tasks/pr_commit_collector.go
  backend/plugins/bitbucket_server/tasks/task_data.go
Labels: type/bug, component/plugins, size:S, lgtm

#7583 fix: bitbucket remote api swallows errors sliently
  backend/plugins/bitbucket/api/remote_api.go
Labels: type/bug, component/plugins, size:XS, lgtm

#7584 fix: pagerduty task always fails
  backend/plugins/pagerduty/tasks/task_data.go
Labels: type/bug, component/plugins, severity/p1, size:XS, lgtm

#7587 fix: pagerduty scope api listing service without related projects
  backend/plugins/pagerduty/models/service.go
Labels: type/bug, component/plugins, severity/p2, size:XS, lgtm

#7588 fix: gitlab pr reviewers and assignees id
  backend/core/models/domainlayer/code/pull_request_assignees.go
  backend/core/models/domainlayer/code/pull_request_reviewers.go
  backend/core/models/migrationscripts/20240607_modify_pr_assignees_and_reviewers_id.go
  backend/core/models/migrationscripts/archived/pull_request_assignees.go
  backend/core/models/migrationscripts/archived/pull_request_reviewers.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/gitlab/tasks/mr_assignee_convertor.go
  backend/plugins/gitlab/tasks/mr_reviewer_convertor.go
Labels: component/plugins, pr-type/bug-fix, size:M, lgtm

#7602 fix: error current page when deleting the last data scope
  config-ui/src/routes/connection/connection.tsx
Labels: type/bug, component/config-ui, size:XS, lgtm

#7603 fix: not set input width in jira basic auth
  config-ui/src/plugins/register/jira/connection-fields/auth.tsx
Labels: type/bug, component/config-ui, needs-cherrypick-v1.0, size:XS, lgtm

#7606 fix: reset password component in plugin connection
  config-ui/src/plugins/components/connection-form/fields/secret-key.tsx
  config-ui/src/plugins/components/connection-form/fields/token.tsx
  config-ui/src/plugins/register/github/connection-fields/token.tsx
  config-ui/src/plugins/register/jira/connection-fields/auth.tsx
Labels: type/bug, component/config-ui, needs-cherrypick-v1.0, size:S, lgtm

#7608 feat: jira is subtask trans to type SUBTASK
  backend/core/models/domainlayer/ticket/issue.go
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issues_for_external_epics.csv
  backend/plugins/jira/e2e/snapshot_tables/issues.csv
  backend/plugins/jira/models/issue.go
  backend/plugins/jira/models/migrationscripts/20240611_add_subtask_to_issue.go
  backend/plugins/jira/models/migrationscripts/register.go
  backend/plugins/jira/tasks/issue_convertor.go
  backend/plugins/jira/tasks/issue_extractor.go
Labels: pr-type/feature-development, component/plugins, size:M, lgtm

#7612 fix(gitlab): support `ENABLE_SUBTASKS_BY_DEFAULT`
  backend/core/models/pipeline.go
  backend/plugins/gitlab/api/blueprint_V200_test.go
  backend/plugins/gitlab/api/blueprint_v200.go
  backend/plugins/gitlab/api/init.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:M, lgtm

#7617 fix(pagerduty): fix errors when deleting connections
  backend/plugins/pagerduty/models/migrationscripts/20240614_add_new_fields_to_tool_pagerduty_scope_configs.go
  backend/plugins/pagerduty/models/migrationscripts/register.go
Labels: type/bug, component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:M, lgtm

#7619 fix: error page set when deleting data scope
  config-ui/src/routes/connection/connection.tsx
Labels: type/bug, component/config-ui, needs-cherrypick-v1.0, lgtm

#7621 fix(opsgenie): fix errors when deleting connections
  backend/plugins/opsgenie/models/migrationscripts/20240614_add_new_fields_to_tool_opsgenie_scope_configs.go
  backend/plugins/opsgenie/models/migrationscripts/register.go
  backend/plugins/sonarqube/models/migrationscripts/20240614_update_tool_sonarqube_scope_configs.go
  backend/plugins/sonarqube/models/migrationscripts/register.go
Labels: type/bug, component/plugins, pr-type/bug-fix, size:M, lgtm

#7622 fix(framework): sanitize gitextractor plugin options correctly
  backend/server/services/pipeline.go
  backend/server/services/project.go
Labels: pr-type/bug-fix, component/framework, needs-cherrypick-v1.0, size:S, lgtm

#7624 feat: add issue trace configuration for project
  config-ui/src/routes/project/detail/settings-panel.tsx
Labels: pr-type/feature-development, component/config-ui, size:S, lgtm

#7609 refactor: refactoring to use simple ApiCollector
  backend/plugins/bitbucket_server/tasks/pr_collector.go
Labels: pr-type/refactor, component/plugins, size:XS, lgtm

#6786 feat: gerrit python plugin
  backend/python/plugins/gerrit/README.md
  backend/python/plugins/gerrit/build.sh
  backend/python/plugins/gerrit/gerrit/__init__.py
  backend/python/plugins/gerrit/gerrit/api.py
  backend/python/plugins/gerrit/gerrit/main.py
  backend/python/plugins/gerrit/gerrit/migrations.py
  backend/python/plugins/gerrit/gerrit/models.py
  backend/python/plugins/gerrit/gerrit/streams/change_commits.py
  backend/python/plugins/gerrit/gerrit/streams/changes.py
  backend/python/plugins/gerrit/poetry.lock
  backend/python/plugins/gerrit/pyproject.toml
  backend/python/plugins/gerrit/run.sh
  backend/python/plugins/gerrit/tests/__init__.py
  backend/python/plugins/gerrit/tests/plugin_test.py
  backend/python/plugins/gerrit/tests/stream_test.py
  config-ui/src/plugins/register/gerrit/assets/icon.svg
  config-ui/src/plugins/register/gerrit/config.tsx
  config-ui/src/plugins/register/gerrit/index.ts
  config-ui/src/plugins/register/index.ts
Labels: size:XL, lgtm

#7599 refactor: hudson.maven.MavenModuleSet is now treated as a scope
  backend/plugins/jenkins/api/remote_api.go
Labels: pr-type/feature-development, component/plugins, size:M, lgtm

#6971 Correct commits distribution days of week labels
  grafana/dashboards/ComponentAndFileLevelMetrics.json
Labels: Stale, lgtm

#7628 fix: correct path for grafana dockerfile
  Makefile
Labels: pr-type/bug-fix, severity/p2, component/ext, size:XS, lgtm

#7630 feat: default enable project plugin and remove configuration
  config-ui/src/routes/project/detail/settings-panel.tsx
  config-ui/src/routes/project/home/index.tsx
Labels: pr-type/feature-development, component/config-ui, needs-cherrypick-v1.0, size:M, lgtm

#7629 fix: link error
  config-ui/src/plugins/components/data-scope-select/index.tsx
Labels: type/bug, component/config-ui, needs-cherrypick-v1.0, size:XS, lgtm

#7634 fix(migration): fix unexpected `defer unlock`
  backend/server/services/init.go
Labels: pr-type/bug-fix, severity/p2, needs-cherrypick-v1.0, size:XS, lgtm

#7633 refactor(logs): add error logs when executing migrations
  backend/server/services/init.go
Labels: needs-cherrypick-v1.0, size:XS, lgtm

#7645 fix: pr reviewers and assignees script version error
  backend/core/models/migrationscripts/20240531_add_pr_assignees_and_reviewers.go
  backend/core/models/migrationscripts/20240607_modify_pr_assignees_and_reviewers_id.go
Labels: type/bug, needs-cherrypick-v1.0, size:S, lgtm

#7648 fix: layout overflow error
  config-ui/src/index.css
  config-ui/src/routes/layout/layout.tsx
Labels: type/bug, component/config-ui, needs-cherrypick-v1.0, size:XS, lgtm

#7660 fix(gitextractor): update database store, set it incremental by default
  backend/plugins/gitextractor/models/interface.go
  backend/plugins/gitextractor/parser/clone_gitcli.go
  backend/plugins/gitextractor/parser/taskdata.go
  backend/plugins/gitextractor/store/csv.go
  backend/plugins/gitextractor/store/database.go
  backend/plugins/gitextractor/tasks/repo_cloner.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:S, lgtm

#7662 Add more logs and update the steps when initing app
  backend/core/migration/migrator.go
  backend/server/api/api.go
  backend/server/services/init.go
  backend/test/helper/client.go
Labels: needs-cherrypick-v1.0, size:M, lgtm

#7669 feat: hide dashboard icon when hiding copyright
  config-ui/src/routes/layout/layout.tsx
Labels: pr-type/feature-development, component/config-ui, needs-cherrypick-v1.0, size:XS, lgtm

#7670 feat: support configuration for dashboard url
  config-ui/env.example
  config-ui/src/routes/onboard/step-4.tsx
  config-ui/src/vite-env.d.ts
Labels: pr-type/feature-development, component/config-ui, needs-cherrypick-v1.0, size:S, lgtm

#7673 feat: fix CircleCI dashboard SQLs and wording
  grafana/dashboards/CircleCI.json
Labels: component/ext, needs-cherrypick-v1.0, size:L, lgtm

#7674 feat: weekly report dashboard
  grafana/dashboards/WeeklyReport.json
Labels: pr-type/feature-development, component/ext, needs-cherrypick-v1.0, size:XL, lgtm

#7676 (cherrypick #7673 to release-v1.0) feat: fix CircleCI dashboard SQLs and wording (#7673)
  grafana/dashboards/CircleCI.json
Labels: component/ext, cherrypick, needs-cherrypick-v1.0, size:L, lgtm

#7678 fix: update the weekly report dashboard
  grafana/dashboards/WeeklyReport.json
Labels: pr-type/bug-fix, component/ext, needs-cherrypick-v1.0, size:M, lgtm

#7679 (cherrypick to release-v1.0) fix: update weekly report (#7678)
  grafana/dashboards/WeeklyReport.json
Labels: pr-type/bug-fix, component/ext, needs-cherrypick-v1.0, size:M, lgtm

#7680 fix: redirect url error
  config-ui/src/routes/blueprint/detail/components/add-connection-dialog/index.tsx
Labels: type/bug, component/config-ui, needs-cherrypick-v1.0, size:XS, lgtm

#7682 fix: update the wording of the weekly report dashboard
  grafana/dashboards/WeeklyReport.json
Labels: pr-type/bug-fix, severity/p2, component/ext, needs-cherrypick-v1.0, size:S, lgtm

#7683 (cherrypick to v1.0) fix: update the wording of the weekly report dashboard (#7682)
  grafana/dashboards/WeeklyReport.json
Labels: pr-type/bug-fix, component/ext, needs-cherrypick-v1.0, size:S
