Repository apache/incubator-devlake, pull requests merged in 2024-05, with the labels that each got.

#7469 feat(githubgraphql): add releases
  backend/core/models/domainlayer/devops/cicd_release.go
  backend/core/models/domainlayer/domaininfo/domaininfo.go
  backend/core/models/migrationscripts/20240514_add_cicd_release.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/github/impl/impl.go
  backend/plugins/github/models/migrationscripts/20240514_add_github_release.go
  backend/plugins/github/models/migrationscripts/register.go
  backend/plugins/github/models/release.go
  backend/plugins/github/tasks/release_convertor.go
  backend/plugins/github_graphql/impl/impl.go
  backend/plugins/github_graphql/tasks/release_collector.go
  backend/plugins/github_graphql/tasks/release_extractor.go
Labels: pr-type/feature-development

#7471 fix(apikey): abort request if api key doesn't match
  backend/server/api/middlewares.go
Labels: pr-type/bug-fix

#7479 Update deployment commit id
  backend/plugins/webhook/api/deployments.go
Labels: pr-type/feature-development

#7481 feat: update post deployment curl for webhook
  config-ui/src/plugins/register/webhook/components/create-dialog.tsx
  config-ui/src/plugins/register/webhook/components/view-dialog.tsx
Labels: pr-type/feature-development, component/config-ui, size:S, lgtm

#7476 feat: add v1.0 docs
  config-ui/src/release/v1.0.ts
Labels: lgtm

#7485 fix: pagerduty remote api not working
  backend/plugins/pagerduty/api/remote_api.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, size:S, lgtm

#7486 refactor: move deployment converter to github_graphql plugin
  backend/plugins/github_graphql/e2e/deployment_test.go
  backend/plugins/github_graphql/e2e/raw_tables/_raw_github_graphql_deployment.csv
  backend/plugins/github_graphql/e2e/raw_tables/_tool_github_repos2.csv
  backend/plugins/github_graphql/e2e/snapshot_tables/_tool_github_deployments.csv
  backend/plugins/github_graphql/e2e/snapshot_tables/cicd_deployment_commits.csv
  backend/plugins/github_graphql/e2e/snapshot_tables/cicd_deployments.csv
  backend/plugins/github_graphql/impl/impl.go
  backend/plugins/github_graphql/tasks/deployment_convertor.go
Labels: pr-type/refactor, component/plugins, improvement, size:S, lgtm

#7489 fix: 7468 deepen might fail on some repos with certain time ranges
  backend/plugins/gitextractor/parser/clone_gitcli.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, size:S, lgtm

#7492 fix: missing `make build-plugin-debug`
  backend/Makefile
  backend/scripts/build-plugins.sh
Labels: type/bug, component/plugins, severity/p1, size:XS, lgtm

#7496 fix: not use PATH to external link
  config-ui/src/routes/blueprint/connection-detail/index.tsx
Labels: type/bug, component/config-ui, severity/p2, size:XS, lgtm

#7498 update path parameter, adapt to latest plugin helper
  backend/plugins/bamboo/impl/impl.go
  backend/plugins/bitbucket/impl/impl.go
  backend/plugins/circleci/impl/impl.go
  backend/plugins/tapd/impl/impl.go
  backend/plugins/trello/impl/impl.go
  backend/plugins/zentao/impl/impl.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, lgtm

#7499 fix: trigger tapd collect throws 500 error
  backend/plugins/tapd/api/blueprint_v200.go
Labels: component/plugins, pr-type/bug-fix, severity/p0, size:XS, lgtm

#7501 feat(pull_request_issues): change issue_key's type to varchar
  backend/core/models/domainlayer/crossdomain/pull_request_issue.go
  backend/core/models/migrationscripts/20240523_update_issue_key_type_in_pull_request_issues.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/gitee/tasks/pr_issue_convertor.go
  backend/plugins/github/tasks/pr_issue_convertor.go
Labels: pr-type/feature-development, size:M, lgtm

#7502 fix(zentao): use correct `DecodeMapStruct` function
  backend/helpers/pluginhelper/api/model_api_helper.go
Labels: pr-type/bug-fix, severity/p2, size:XS, lgtm

#7506 fix: don't show link action when a plugin doesn't have scope config
  config-ui/src/plugins/components/scope-config/index.tsx
Labels: type/bug, component/config-ui, severity/p2, size:S, lgtm

#7505 feat(framework): update `pluginOption` field's type in projects
  backend/core/models/migrationscripts/20240523_update_plugin_option_in_project_metric_settings.go
  backend/core/models/migrationscripts/register.go
  backend/core/models/project.go
  backend/server/services/blueprint.go
  backend/test/helper/api.go
Labels: pr-type/feature-development, component/framework, size:M, lgtm

#7509 Add a new plugin, linker.
  backend/core/plugin/hub.go
  backend/core/runner/loader.go
  backend/plugins/dora/impl/impl.go
  backend/plugins/linker/README.md
  backend/plugins/linker/e2e/link_pr_and_issue_test.go
  backend/plugins/linker/e2e/snapshot_tables/issues.csv
  backend/plugins/linker/e2e/snapshot_tables/project_mapping.csv
  backend/plugins/linker/e2e/snapshot_tables/pull_request_issues.csv
  backend/plugins/linker/e2e/snapshot_tables/pull_requests.csv
  backend/plugins/linker/impl/impl.go
  backend/plugins/linker/linker.go
  backend/plugins/linker/models/migrationscripts/register.go
  backend/plugins/linker/tasks/link_pr_and_issue.go
  backend/plugins/linker/tasks/task_data.go
  backend/plugins/table_info_test.go
Labels: pr-type/feature-development, add-a-plugin, size:L, lgtm

#7500 feat: associated pull request with the issue
  config-ui/src/components/block/index.tsx
  config-ui/src/routes/project/detail/settings-panel.tsx
  config-ui/src/types/project.ts
Labels: pr-type/feature-development, component/config-ui, size:M, lgtm

#7515 Return nil when record not found
  backend/plugins/linker/e2e/link_pr_and_issue_test.go
  backend/plugins/linker/tasks/link_pr_and_issue.go
Labels: component/plugins, pr-type/bug-fix, severity/p2, size:XS, lgtm

#7517 fix: not refresh project when updating plugin linker
  config-ui/src/routes/project/detail/settings-panel.tsx
Labels: type/bug, component/config-ui, severity/p2, size:M, lgtm

#7520 fix: execution id not exist
  backend/plugins/zentao/tasks/execution_collector.go
  backend/plugins/zentao/tasks/execution_summary_dev_collector.go
Labels: type/bug, component/plugins, severity/p1, needs-cherrypick-v0.21, size:S, lgtm

#7523 Find all candidate issue keys from pr's title and description
  backend/plugins/linker/e2e/snapshot_tables/issues.csv
  backend/plugins/linker/e2e/snapshot_tables/pull_request_issues.csv
  backend/plugins/linker/e2e/snapshot_tables/pull_requests.csv
  backend/plugins/linker/tasks/link_pr_and_issue.go
Labels: component/plugins, size:M, lgtm

#7511 Adds link to DORA.dev to the README
  README.md
Labels: type/docs, component/docs, size:XS, lgtm

#7526 Clear history data when running linker
  backend/plugins/linker/e2e/snapshot_tables/project_mapping.csv
  backend/plugins/linker/tasks/link_pr_and_issue.go
Labels: component/plugins, pr-type/bug-fix, size:S, lgtm

#7518 feat: add default value for linker plugin
  config-ui/src/components/tooltip/help-tooltip/index.tsx
  config-ui/src/routes/project/detail/settings-panel.tsx
Labels: pr-type/feature-development, component/config-ui, size:M, lgtm

#7531 fix(linker): link current project's issues
  backend/plugins/linker/e2e/link_pr_and_issue_test.go
  backend/plugins/linker/e2e/snapshot_tables/board_issues.csv
  backend/plugins/linker/e2e/snapshot_tables/issues.csv
  backend/plugins/linker/e2e/snapshot_tables/project_mapping.csv
  backend/plugins/linker/tasks/link_pr_and_issue.go
Labels: type/bug, component/plugins, pr-type/bug-fix, size:S, lgtm

#7537 fix: deepen fails on EMPTY repos
  backend/plugins/gitextractor/parser/clone_gitcli.go
Labels: type/bug, component/plugins, severity/p1, size:XS, lgtm

#7538 fix: github users org api may report 404
  backend/plugins/github/tasks/account_org_collector.go
Labels: type/bug, component/plugins, severity/p1, size:XS, lgtm

#7536 fix: update the linker tooltip about pr with issues
  config-ui/src/routes/project/detail/settings-panel.tsx
Labels: type/bug, component/config-ui, size:XS, lgtm

#7493 fix: increase max URL length
  backend/core/models/migrationscripts/20240521_modify_cicd_deployment_commits_repo_url_length.go
  backend/core/models/migrationscripts/20240521_modify_cicd_pipeline_commits_repo_url_length.go
  backend/core/models/migrationscripts/register.go
  backend/python/plugins/azuredevops/azuredevops/migrations.py
  backend/python/pydevlake/pydevlake/model.py
Labels: type/bug, devops, severity/p2, component/pydevlake, size:L, lgtm

#7545 refactor: simplify webhook deployment api(breaking)
  backend/plugins/webhook/api/deployments.go
  backend/plugins/webhook/impl/impl.go
Labels: pr-type/refactor, component/plugins, breaking-change, size:L, lgtm

#7546 fix: swag doc for webhook deployment
  backend/plugins/webhook/api/deployments.go
Labels: component/plugins, pr-type/bug-fix, severity/p2, size:XS, lgtm

#7210 fix: populate missing RepoUrl in CiCDPipelineCommit
  backend/plugins/azuredevops_go/e2e/build_test.go
  backend/plugins/azuredevops_go/e2e/snapshot_tables/cicd_pipeline_commits.csv
  backend/plugins/azuredevops_go/tasks/ci_cd_build_converter.go
Labels: size:S, lgtm

#7550 Tidy up Webhook APIs
  backend/plugins/webhook/api/deployments.go
  backend/plugins/webhook/api/issues.go
Labels: pr-type/refactor, component/plugins, breaking-change, size:M, lgtm

#7551 fix: not use message component when deleting project
  config-ui/src/routes/project/detail/settings-panel.tsx
Labels: type/bug, component/config-ui, size:XS, lgtm

#7553 fix: startedDate and finishedDate should be required
  backend/plugins/webhook/api/deployments.go
Labels: type/bug, component/plugins, severity/p1, size:XS, lgtm

#7554 feat: update webhook url
  config-ui/src/plugins/register/webhook/components/create-dialog.tsx
  config-ui/src/plugins/register/webhook/components/utils.ts
  config-ui/src/plugins/register/webhook/components/view-dialog.tsx
Labels: pr-type/feature-development, component/config-ui, needs-cherrypick-v1.0, size:L, lgtm
