Repository apache/incubator-devlake, pull requests merged in 2024-08, with the labels that each got.

#7810 feat(incidents): add assignee_id and assignee_name fields
  backend/core/models/domainlayer/code/pull_request.go
  backend/core/models/domainlayer/ticket/incident.go
  backend/core/models/domainlayer/ticket/issue.go
  backend/core/models/migrationscripts/20240731_add_table_scope_id_to_incidents.go
  backend/core/models/migrationscripts/20240801_add_assignee_id_to_incidents.go
  backend/core/models/migrationscripts/register.go
Labels: pr-type/feature-development, needs-cherrypick-v1.0, size:M, lgtm

#7811 cherry pick #7810 feat(incidents): add assignee_id and assignee_name fields to v1.0
  backend/core/models/domainlayer/code/pull_request.go
  backend/core/models/domainlayer/ticket/incident.go
  backend/core/models/domainlayer/ticket/issue.go
  backend/core/models/migrationscripts/20240731_add_table_scope_id_to_incidents.go
  backend/core/models/migrationscripts/20240801_add_assignee_id_to_incidents.go
  backend/core/models/migrationscripts/register.go
Labels: size:M

#7812 feat(dashboard): use incident tables in dashboards
  grafana/dashboards/DORA.json
  grafana/dashboards/DORAByTeam.json
  grafana/dashboards/DORADebug.json
Labels: pr-type/feature-development, component/plugins, needs-cherrypick-v1.0, size:M, lgtm

#7815 chore: adjust fields order for #7775
  backend/core/models/migrationscripts/20240731_add_datefields_to_project_pr_metrics.go
Labels: needs-cherrypick-v1.0, size:XS, lgtm

#7814 feat(webhook): calculate `LeadTimeMinutes` if necessary
  backend/plugins/webhook/api/issues.go
Labels: pr-type/feature-development, component/plugins, needs-cherrypick-v1.0, size:XS, lgtm

#7818 chore: print log when skipping github run
  backend/plugins/github/tasks/cicd_run_collector.go
Labels: component/plugins, needs-cherrypick-v1.0, size:XS, lgtm

#7823 fix: rename pr size to pr merged size
  grafana/dashboards/EngineeringThroughputAndCycleTime.json
  grafana/dashboards/EngineeringThroughputAndCycleTimeTeamView.json
  grafana/dashboards/WorkLogs.json
Labels: pr-type/bug-fix, component/ext, needs-cherrypick-v1.0, size:M, lgtm

#7824 fix(gitlab): fix issue.url
  backend/plugins/gitlab/e2e/snapshot_tables/_tool_gitlab_issues.csv
  backend/plugins/gitlab/e2e/snapshot_tables/issues.csv
  backend/plugins/gitlab/tasks/issue_extractor.go
  backend/plugins/zentao/e2e/account_test.go
  backend/plugins/zentao/e2e/bug_test.go
  backend/plugins/zentao/e2e/snapshot_tables/execution_sprint.csv
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:XS, lgtm

#7828 fix(gitlab): use weburl as issue's url
  backend/plugins/gitlab/e2e/snapshot_tables/_tool_gitlab_issues.csv
  backend/plugins/gitlab/e2e/snapshot_tables/issues.csv
  backend/plugins/gitlab/tasks/issue_extractor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:XS, lgtm

#7831 feat: support more props for icon button
  config-ui/src/components/action/icon-button/index.tsx
Labels: pr-type/feature-development, component/config-ui, needs-cherrypick-v1.0, size:XS, lgtm

#7834 fix unexpected incremental mode when re-transformating data
  backend/plugins/jira/tasks/issue_extractor.go
Labels: component/plugins, needs-cherrypick-v1.0, size:S, lgtm

#7830 fix: not set page and pageSize for pipelines
  config-ui/src/api/pipeline/index.ts
  config-ui/src/routes/pipeline/components/table.tsx
  config-ui/src/routes/pipeline/pipelines.tsx
Labels: type/bug, component/config-ui, needs-cherrypick-v1.0, size:S, lgtm

#7838 fix: unnecessary refresh when changing url
  config-ui/src/config/paths.ts
  config-ui/src/plugins/components/scope-config/index.tsx
  config-ui/src/routes/blueprint/connection-detail/index.tsx
  config-ui/src/routes/blueprint/detail/blueprint-detail.tsx
  config-ui/src/routes/blueprint/home/index.tsx
  config-ui/src/routes/project/detail/index.tsx
  config-ui/src/routes/project/detail/settings-panel.tsx
  config-ui/src/routes/project/home/index.tsx
Labels: type/bug, component/config-ui, needs-cherrypick-v1.0, size:L, lgtm

#7843 fix(dashboard): update dashboard, fix wrong sql
  grafana/dashboards/DORA.json
  grafana/dashboards/DORAByTeam.json
  grafana/dashboards/DORADebug.json
Labels: type/bug, pr-type/bug-fix, component/ext, needs-cherrypick-v1.0, size:S, lgtm

#7845 fix(github): ignore bot account
  backend/plugins/github/tasks/pr_convertor.go
Labels: type/bug, component/plugins, needs-cherrypick-v1.0, size:XS, lgtm

#7840 feat: improve some description for onboard
  config-ui/src/plugins/components/connection-form/fields/token.tsx
  config-ui/src/routes/onboard/step-1.tsx
  config-ui/src/routes/onboard/step-2.tsx
Labels: pr-type/feature-development, component/config-ui, needs-cherrypick-v1.0, size:S, lgtm

#7848 feat: update dashboard tags
  grafana/dashboards/AzureDevOps.json
  grafana/dashboards/BitBucket.json
  grafana/dashboards/CircleCI.json
  grafana/dashboards/DORADebug.json
  grafana/dashboards/EngineeringOverview.json
  grafana/dashboards/GitHub.json
  grafana/dashboards/Gitlab.json
  grafana/dashboards/Jenkins.json
  grafana/dashboards/PagerDuty.json
  grafana/dashboards/Sonarqube.json
  grafana/dashboards/WeeklyBugRetro.json
  grafana/dashboards/WorkLogs.json
Labels: pr-type/feature-development, component/ext, size:M, lgtm

#7850 cherry-pick #7848 feat: update dashboard tags (#7848)
  grafana/dashboards/AzureDevOps.json
  grafana/dashboards/BitBucket.json
  grafana/dashboards/CircleCI.json
  grafana/dashboards/DORADebug.json
  grafana/dashboards/EngineeringOverview.json
  grafana/dashboards/GitHub.json
  grafana/dashboards/Gitlab.json
  grafana/dashboards/Jenkins.json
  grafana/dashboards/PagerDuty.json
  grafana/dashboards/Sonarqube.json
  grafana/dashboards/WeeklyBugRetro.json
  grafana/dashboards/WorkLogs.json
Labels: pr-type/feature-development, component/ext, cherrypick, size:M, lgtm

#7854 fix(dora): add more log in task ConnectIncidentToDeployment
  backend/plugins/dora/tasks/incident_deploy_connector.go
Labels: type/bug, component/plugins, needs-cherrypick-v1.0, size:S, lgtm

#7856 Add more log for dora task ConnectIncidentToDeployment
  backend/plugins/dora/tasks/incident_deploy_connector.go
Labels: component/plugins, needs-cherrypick-v1.0, size:XS, lgtm

#7858 Fix errors in dora plugin
  backend/plugins/dora/impl/impl.go
  backend/plugins/dora/tasks/incident_deploy_connector.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, needs-cherrypick-v1.0, size:S, lgtm

#7853 fix(gitextractor): update cli args when fetching remote repos
  backend/helpers/pluginhelper/api/collector_state_manager.go
  backend/helpers/pluginhelper/api/subtask_state_manager.go
  backend/plugins/gitextractor/impl/impl.go
  backend/plugins/gitextractor/parser/clone_gitcli.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:S, lgtm

#7861 refactor(helpers): update "NewSubtaskStateManager"
  backend/helpers/pluginhelper/api/subtask_state_manager.go
Labels: pr-type/refactor, component/plugins, needs-cherrypick-v1.0, size:L, lgtm

#7865 fix: adjust Grafana timezone handling for non-UTC databases
  grafana/dashboards/AzureDevOps.json
  grafana/dashboards/Bamboo.json
  grafana/dashboards/BitBucket.json
  grafana/dashboards/CircleCI.json
  grafana/dashboards/ComponentAndFileLevelMetrics.json
  grafana/dashboards/ContributorExperience.json
  grafana/dashboards/DORA.json
  grafana/dashboards/DORAByTeam.json
  grafana/dashboards/DORADebug.json
  grafana/dashboards/DORADetails-ChangeFailureRate.json
  grafana/dashboards/DORADetails-DeploymentFrequency.json
  grafana/dashboards/DORADetails-FailedDeploymentRecoveryTime.json
  grafana/dashboards/DORADetails-LeadTimeforChanges.json
  grafana/dashboards/DORADetails-TimetoRestoreService.json
  grafana/dashboards/DemoAverageRequirementLeadTimeByAssignee.json
  grafana/dashboards/DemoCommitCountByAuthor.json
  grafana/dashboards/DemoDetailedBugInfo.json
  grafana/dashboards/DemoHomepage.json
  grafana/dashboards/DemoHowFastDoWeRespondToCustomerRequirements.json
  grafana/dashboards/DemoIsThisMonthMoreProductiveThanLast.json
  grafana/dashboards/DemoWasOurQualityImprovedOrNot.json
  grafana/dashboards/EngineeringOverview.json
  grafana/dashboards/EngineeringThroughputAndCycleTime.json
  grafana/dashboards/EngineeringThroughputAndCycleTimeTeamView.json
  grafana/dashboards/GitHub.json
  grafana/dashboards/GithubReleaseQualityAndContributionAnalysis.json
  grafana/dashboards/Gitlab.json
  grafana/dashboards/Homepage.json
  grafana/dashboards/Jenkins.json
  grafana/dashboards/Jira.json
  grafana/dashboards/Opsgenie.json
  grafana/dashboards/PagerDuty.json
  grafana/dashboards/Sonarqube.json
  grafana/dashboards/TAPD.json
  grafana/dashboards/Teambition.json
  grafana/dashboards/WeeklyBugRetro.json
  grafana/dashboards/WeeklyCommunityRetro.json
  grafana/dashboards/WorkLogs.json
  grafana/dashboards/Zentao.json
Labels: pr-type/bug-fix, component/ext, size:M, lgtm

#7868 cherry pick #6943 - avoid adding clause when table not present to v1.0
  backend/plugins/gitlab/tasks/trigger_job_collector.go
Labels: component/plugins, needs-cherrypick-v1.0, size:XS

#7869 fix(helpers): fix concurrent map writes
  backend/helpers/pluginhelper/api/ds_remote_api_proxy_api.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:S, lgtm

#7871 fix(ui): correct documentation urls
  config-ui/src/release/stable.ts
Labels: pr-type/bug-fix, component/config-ui, size:XS, lgtm

#7874 fix: activated date replace started date in sprint
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_sprints.csv
  backend/plugins/jira/e2e/snapshot_tables/sprints.csv
  backend/plugins/jira/e2e/sprint_test.go
  backend/plugins/jira/tasks/apiv2models/sprint.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:L, lgtm

#7879 feat: issue add is_subtask field
  backend/core/models/domainlayer/ticket/issue.go
  backend/core/models/migrationscripts/20240813_add_is_subtask_to_issue.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/jira/tasks/issue_convertor.go
  backend/plugins/opsgenie/e2e/snapshot_tables/issues.csv
  backend/plugins/pagerduty/e2e/snapshot_tables/issues.csv
  backend/plugins/tapd/e2e/snapshot_tables/issues_story.csv
  backend/plugins/tapd/e2e/snapshot_tables/issues_task.csv
  backend/plugins/teambition/e2e/snapshot_tables/issues.csv
  backend/plugins/zentao/e2e/snapshot_tables/issues_bug.csv
  backend/plugins/zentao/e2e/snapshot_tables/issues_story.csv
  backend/plugins/zentao/e2e/snapshot_tables/issues_task.csv
Labels: pr-type/feature-development, component/plugins, needs-cherrypick-v1.0, size:M, lgtm

#7881 cherry pick ##7770 fix: circleci plugin pagination to v1.0 manually
  backend/plugins/circleci/tasks/job_collector.go
  backend/plugins/circleci/tasks/pipeline_collector.go
  backend/plugins/circleci/tasks/shared.go
  backend/plugins/circleci/tasks/task_data.go
  backend/plugins/circleci/tasks/workflow_collector.go
Labels: component/plugins, severity/p1, needs-cherrypick-v1.0, size:L

#7888 fix(framework): update trigger api's request body schema
  backend/core/models/blueprint.go
  backend/helpers/e2ehelper/data_flow_tester.go
  backend/helpers/pluginhelper/api/collector_state_manager_test.go
  backend/helpers/pluginhelper/api/subtask_state_manager_test.go
  backend/server/api/blueprints/blueprints.go
  backend/server/services/blueprint.go
Labels: pr-type/bug-fix, component/framework, needs-cherrypick-v1.0, size:M, lgtm

#7894 test(jira): add e2e test for custom account field in issues
  backend/plugins/jira/e2e/extract_issue_fields/_tool_jira_issue_fields.csv
  backend/plugins/jira/e2e/extract_issue_fields_test.go
  backend/plugins/jira/e2e/issue_changelog_test.go
  backend/plugins/jira/e2e/issue_changelogs/_raw_jira_api_issue_changelogs.csv
  backend/plugins/jira/e2e/issue_changelogs/_tool_jira_accounts.csv
  backend/plugins/jira/e2e/issue_changelogs/_tool_jira_issue_changelogs.csv
  backend/plugins/jira/e2e/issue_changelogs/_tool_jira_issue_fields.csv
Labels: pr-type/feature-development, component/plugins, needs-cherrypick-v1.0, size:L, lgtm, pr-type/add-test

#7878 fix: github graphql collectors are not refetching data in incremental mode
  backend/go.mod
  backend/go.sum
  backend/helpers/pluginhelper/api/api_collector_stateful.go
  backend/helpers/pluginhelper/api/batch_save.go
  backend/helpers/pluginhelper/api/graphql_collector.go
  backend/plugins/github_graphql/e2e/raw_tables/_raw_github_graphql_deployment.csv
  backend/plugins/github_graphql/e2e/snapshot_tables/_tool_github_deployments.csv
  backend/plugins/github_graphql/e2e/snapshot_tables/cicd_deployment_commits.csv
  backend/plugins/github_graphql/e2e/snapshot_tables/cicd_deployments.csv
  backend/plugins/github_graphql/impl/impl.go
  backend/plugins/github_graphql/model/migrationscripts/20240808_flush_rawdata.go
  backend/plugins/github_graphql/model/migrationscripts/register.go
  backend/plugins/github_graphql/tasks/account_collector.go
  backend/plugins/github_graphql/tasks/account_extractor.go
  backend/plugins/github_graphql/tasks/deployment_collector.go
  backend/plugins/github_graphql/tasks/deployment_extractor.go
  backend/plugins/github_graphql/tasks/issue_collector.go
  backend/plugins/github_graphql/tasks/issue_extractor.go
  backend/plugins/github_graphql/tasks/job_collector.go
  backend/plugins/github_graphql/tasks/job_extractor.go
  backend/plugins/github_graphql/tasks/pr_collector.go
  backend/plugins/github_graphql/tasks/pr_extractor.go
  backend/plugins/github_graphql/tasks/release_collector.go
  backend/plugins/github_graphql/tasks/release_extractor.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, needs-cherrypick-v1.0, size:XL, lgtm

#7820 fix(circleci-plugin): pipeline collector time range
  backend/plugins/circleci/tasks/job_collector.go
  backend/plugins/circleci/tasks/pipeline_collector.go
  backend/plugins/circleci/tasks/shared.go
  backend/plugins/circleci/tasks/workflow_collector.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, needs-cherrypick-v1.0, size:M, lgtm

#7900 fix: component length scripts are not working
  backend/core/dal/dal.go
  backend/impls/dalgorm/dalgorm.go
  backend/plugins/bitbucket/models/migrationscripts/20240813_change_issue_component_type.go
  backend/plugins/gitee/models/migrationscripts/20240813_change_issue_component_type.go
  backend/plugins/github/models/migrationscripts/20240813_change_issue_component_type.go
  backend/plugins/gitlab/models/migrationscripts/20240813_change_issue_component_type.go
  backend/plugins/sonarqube/models/migrationscripts/20240813_change_issue_component_type.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:M, lgtm

#7904 fix: update bug retro dashboard
  grafana/dashboards/WeeklyBugRetro.json
Labels: pr-type/bug-fix, component/ext, needs-cherrypick-v1.0, size:XXL, lgtm

#7905 fix: upgrade grafana to v11.0.0
  grafana/Dockerfile
Labels: component/ext, needs-cherrypick-v1.0, size:XS, lgtm

#7906 cherry-pick #7904 fix: update bug retro dashboard (#7904)
  grafana/dashboards/WeeklyBugRetro.json
Labels: pr-type/bug-fix, component/ext, cherrypick, size:XXL, lgtm

#7914 test(github/gitlab): add missing gitextractor plugins in github/gitlab's pipeline when there is no scope config
  backend/plugins/github/api/blueprint_v200_test.go
  backend/plugins/gitlab/api/blueprint_V200_test.go
Labels: component/plugins, size:L, lgtm

#7913 feat: move connection delete action to connection list
  config-ui/src/plugins/components/connection-list/index.tsx
  config-ui/src/plugins/components/connection-status/index.tsx
  config-ui/src/routes/connection/connection.tsx
Labels: pr-type/feature-development, component/config-ui, size:L, lgtm

#7912 fix: fill field_id of changelog item of Jira in tool layer (#7911)
  backend/helpers/e2ehelper/testdata/issue_changelogs.csv
  backend/plugins/issue_trace/e2e/raw_tables/issue_changelogs.csv
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issue_changelog_items.csv
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issue_changelog_items_extractor.csv
  backend/plugins/jira/e2e/snapshot_tables/issue_changelogs.csv
  backend/plugins/jira/tasks/apiv2models/changelog.go
Labels: component/plugins, pr-type/bug-fix, size:XS, lgtm

#7918 cherry-pick # 7911: fix jira field_id
  backend/helpers/e2ehelper/testdata/issue_changelogs.csv
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issue_changelog_items.csv
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issue_changelog_items_extractor.csv
  backend/plugins/jira/e2e/snapshot_tables/issue_changelogs.csv
  backend/plugins/jira/tasks/apiv2models/changelog.go
Labels: component/plugins, cherrypick, size:XS

#7919 cherry-pick # 7911: fix jira field_id
  backend/helpers/e2ehelper/testdata/issue_changelogs.csv
  backend/plugins/issue_trace/e2e/raw_tables/issue_changelogs.csv
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issue_changelog_items.csv
  backend/plugins/jira/e2e/snapshot_tables/_tool_jira_issue_changelog_items_extractor.csv
  backend/plugins/jira/e2e/snapshot_tables/issue_changelogs.csv
  backend/plugins/jira/tasks/apiv2models/changelog.go
Labels: component/plugins, pr-type/bug-fix, cherrypick, size:XS

#7917 docs: add doc for StatefulApiExtractor for developer
  backend/helpers/pluginhelper/api/api_extractor_stateful.go
  backend/helpers/pluginhelper/api/data_convertor_stateful.go
Labels: component/docs, size:M, lgtm

#7920 feat(framework): add custom pipeline notification service
  backend/server/api/api.go
  backend/server/services/init.go
  backend/server/services/pipeline.go
  backend/server/services/pipeline_notification.go
  backend/server/services/pipeline_notification_impl.go
Labels: pr-type/feature-development, component/framework, needs-cherrypick-v1.0, size:L, lgtm

#7924 cherry pick feat(framework): add custom pipeline notification service #7920 to v1.0
  backend/server/api/api.go
  backend/server/services/init.go
  backend/server/services/pipeline.go
  backend/server/services/pipeline_notification.go
  backend/server/services/pipeline_notification_impl.go
Labels: size:L

#7922 feat: remove project name valid function
  config-ui/src/routes/onboard/step-1.tsx
  config-ui/src/routes/project/detail/settings-panel.tsx
  config-ui/src/routes/project/home/index.tsx
Labels: component/config-ui, needs-cherrypick-v1.0, size:S, lgtm

#7921 fix: updating bitbucket server reference URLs to the working url
  config-ui/src/release/v0.21.ts
  config-ui/src/release/v1.0.ts
Labels: pr-type/bug-fix, component/config-ui, needs-cherrypick-v0.21, needs-cherrypick-v1.0, size:S, lgtm

#7910 fix(circleci-plugin): deployments matching job name
  backend/plugins/circleci/e2e/snapshot_tables/cicd_tasks.csv
  backend/plugins/circleci/tasks/job_converter.go
  backend/plugins/circleci/tasks/shared.go
  backend/plugins/circleci/tasks/workflow_converter.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, needs-cherrypick-v1.0, size:S, lgtm

#7929 fix: add flush issues table data
  backend/plugins/jira/models/migrationscripts/20240821_flush_issues_data.go
  backend/plugins/jira/models/migrationscripts/register.go
Labels: component/plugins, needs-cherrypick-v1.0, size:M, lgtm

#7932 feat(github): add index to tool layer table _tool_github_jobs
  backend/plugins/github/models/migrationscripts/20240821_add_index_to_tool_github_jobs.go
  backend/plugins/github/models/migrationscripts/register.go
  backend/plugins/github/tasks/cicd_job_convertor_test.go
Labels: pr-type/feature-development, component/plugins, needs-cherrypick-v1.0, size:L, lgtm

#7935 fix: specify default issue type to BUG in the bug retro dashboard
  grafana/dashboards/WeeklyBugRetro.json
Labels: pr-type/bug-fix, component/ext, size:XS, lgtm

#7937 chore(dependency): update github.com/jackc/pgx/v5 to v5.6.0
  backend/go.mod
  backend/go.sum
Labels: needs-cherrypick-v1.0, size:XS, lgtm

#7939 update github.com/jackc/puddle/v2 to latest
  backend/go.mod
  backend/go.sum
Labels: size:XS, lgtm

#7942 chore(python): update packages
  backend/Dockerfile
  backend/python/plugins/azuredevops/poetry.lock
  backend/python/plugins/gerrit/poetry.lock
  backend/python/pydevlake/poetry.lock
  backend/python/test/fakeplugin/poetry.lock
Labels: component/pydevlake, size:XS, lgtm

#7945 cherry pick chore(python): update packages #7942 to v1.0
  backend/Dockerfile
  backend/python/plugins/azuredevops/poetry.lock
  backend/python/pydevlake/poetry.lock
  backend/python/test/fakeplugin/poetry.lock
Labels: component/pydevlake, needs-cherrypick-v1.0, size:XS

#7948 add cloud api proxy
  config-ui/nginx.conf
  config-ui/nginx.sh
Labels: pr-type/feature-development, component/config-ui, size:S, lgtm

#7950 fix: jira jql checker
  backend/plugins/jira/tasks/board_filter_begin_collector.go
  backend/plugins/jira/tasks/board_filter_end_collector.go
Labels: component/plugins, needs-cherrypick-v1.0, size:S, lgtm

#7952 chore(framework): add logs when subtask is finished
  backend/core/runner/run_task.go
Labels: component/framework, needs-cherrypick-v1.0, size:XS, lgtm

#7954 add cloud api proxy (#7948)
  config-ui/nginx.conf
  config-ui/nginx.sh
Labels: component/config-ui, cherrypick, size:S

#7959 fix(framework): fix data in _devlake_subtasks
  backend/core/runner/run_task.go
  backend/impls/context/default_subtask_context.go
  backend/server/services/task_runner.go
Labels: pr-type/bug-fix, component/framework, severity/p1, needs-cherrypick-v1.0, size:M, lgtm

#7963 fix(gitextractor): support empty repos
  backend/plugins/gitextractor/parser/clone_gitcli.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v1.0, size:M, lgtm

#7967 fix(framework): fix sub task number
  backend/core/runner/run_task.go
Labels: pr-type/bug-fix, component/framework, needs-cherrypick-v1.0, size:XS, lgtm

#7972 fix: weekly bug retro panels support time range selected
  grafana/dashboards/WeeklyBugRetro.json
Labels: pr-type/bug-fix, component/ext, needs-cherrypick-v1.0, size:S, lgtm

#7975 Revert "add cloud api proxy (#7948)"
  config-ui/nginx.conf
  config-ui/nginx.sh
Labels: component/config-ui, needs-cherrypick-v1.0, size:S, lgtm

#7974 fix: file level metrics dashboard
  grafana/dashboards/ComponentAndFileLevelMetrics.json
Labels: pr-type/bug-fix, component/ext, needs-cherrypick-v1.0, size:L, lgtm

#7978 cherry-pick #7961 fix: polish DORA dashboards (#7961)
  grafana/dashboards/DORA.json
  grafana/dashboards/DORAByTeam.json
  grafana/dashboards/DORADebug.json
  grafana/dashboards/DORADetails-DeploymentFrequency.json
  grafana/dashboards/DORADetails-FailedDeploymentRecoveryTime.json
Labels: component/ext, needs-cherrypick-v1.0, size:L, lgtm

#7979 cherry-pick #7974 fix: update file level dashboard in v1.0
  grafana/dashboards/ComponentAndFileLevelMetrics.json
Labels: pr-type/bug-fix, component/ext, needs-cherrypick-v1.0, size:L, lgtm

#7977 fix: work logs no code data
  backend/server/services/init.go
  grafana/dashboards/WorkLogs.json
Labels: pr-type/bug-fix, component/ext, needs-cherrypick-v1.0, size:S, lgtm

#7984 fix: revert worklogs code
  grafana/dashboards/WorkLogs.json
Labels: pr-type/bug-fix, component/ext, size:M, lgtm
