Repository apache/incubator-devlake, pull requests merged in 2025-05, with the labels that each got.

#8394 fix(github): resolve repo fetch issue in data scopes when using GitHub App
  backend/plugins/github/api/remote_api.go
  backend/plugins/github/api/remote_data.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, size:L

#8432 fix(framework): return empty project name when blueprint id is zero
  backend/server/services/pipeline.go
  backend/server/services/pipeline_notification.go
Labels: pr-type/bug-fix, component/framework, size:XS, lgtm

#8431 feat(pipeline): add external notifications for pipeline creation and start
  backend/server/services/pipeline.go
  backend/server/services/pipeline_helper.go
Labels: pr-type/feature-development, component/framework, size:S

#8436 fix: try fixing docker image not showing the correct version
  backend/Makefile
Labels: pr-type/bug-fix, severity/p1, size:XS

#8437 [pr-type/feature-development] Search functionality in the projects page for efficient usage
  config-ui/src/routes/project/home/index.tsx
Labels: pr-type/feature-development, component/config-ui, size:M

#8435 feat(webhook): add support for webhook PRs
  backend/go.mod
  backend/go.sum
  backend/plugins/webhook/api/blueprint_v200.go
  backend/plugins/webhook/api/connection.go
  backend/plugins/webhook/api/pull_requests.go
  backend/plugins/webhook/impl/impl.go
  config-ui/src/features/connections/utils.ts
  config-ui/src/plugins/register/webhook/components/create-dialog.tsx
  config-ui/src/plugins/register/webhook/components/utils.ts
  config-ui/src/plugins/register/webhook/components/view-dialog.tsx
  config-ui/src/types/webhook.ts
Labels: pr-type/feature-development, component/plugins, component/config-ui, size:L

#8445 feat(customize): clean up qa_apis and qa_test_case_executions when no…
  backend/plugins/customize/e2e/import_qa_test_cases_test.go
  backend/plugins/customize/e2e/raw_tables/qa_full_test_cases_input.csv
  backend/plugins/customize/e2e/raw_tables/qa_non_api_test_cases.csv
  backend/plugins/customize/service/service.go
Labels: pr-type/feature-development, component/plugins, size:L

#8454 [feat] q-dev-plugin-collect-s3
  backend/go.mod
  backend/go.sum
  backend/plugins/q_dev/Q_DEV_deploy_guide.md
  backend/plugins/q_dev/README.md
  backend/plugins/q_dev/api/connection.go
  backend/plugins/q_dev/api/init.go
  backend/plugins/q_dev/api/test_connection.go
  backend/plugins/q_dev/img.png
  backend/plugins/q_dev/impl/impl.go
  backend/plugins/q_dev/models/connection.go
  backend/plugins/q_dev/models/migrationscripts/20250319_init.go
  backend/plugins/q_dev/models/migrationscripts/20250320_modify_file_meta.go
  backend/plugins/q_dev/models/migrationscripts/archived/connection.go
  backend/plugins/q_dev/models/migrationscripts/archived/s3_file_meta.go
  backend/plugins/q_dev/models/migrationscripts/archived/user_data.go
  backend/plugins/q_dev/models/migrationscripts/archived/user_metrics.go
  backend/plugins/q_dev/models/migrationscripts/register.go
  backend/plugins/q_dev/models/s3_file_meta.go
  backend/plugins/q_dev/models/user_data.go
  backend/plugins/q_dev/models/user_metrics.go
  backend/plugins/q_dev/q_dev.go
  backend/plugins/q_dev/tasks/s3_client.go
  backend/plugins/q_dev/tasks/s3_file_collector.go
  backend/plugins/q_dev/tasks/task_data.go
  backend/plugins/table_info_test.go
Labels: component/plugins, add-a-plugin, size:XXL

#8455 fix: typo in Homepage dashboard
  grafana/dashboards/Homepage.json
Labels: pr-type/bug-fix, component/ext, size:XS

#8457 chore: fix lint error
  backend/go.mod
  backend/go.sum
  backend/plugins/q_dev/models/migrationscripts/20250320_modify_file_meta.go
  backend/plugins/q_dev/models/migrationscripts/register.go
  backend/plugins/q_dev/models/user_metrics.go
  backend/plugins/q_dev/q_dev.go
  backend/plugins/q_dev/tasks/s3_client.go
  backend/plugins/q_dev/tasks/task_data.go
Labels: size:M
