Repository apache/incubator-devlake, pull requests merged in 2025-07, with the labels that each got.

#8488 fix(github): skip jobs with no started_at in cicd_job_convertor
  backend/plugins/github/tasks/cicd_job_convertor.go
  backend/plugins/github/tasks/cicd_job_convertor_test.go
Labels: component/plugins, pr-type/bug-fix, size:M

#8492 bugfix: Data too long for _tool_sonarqube_issue_code_blocks.component
  backend/core/utils/strings.go
  backend/core/utils/strings_test.go
  backend/go.mod
  backend/plugins/sonarqube/tasks/issues_extractor.go
Labels: component/plugins, pr-type/bug-fix, size:M

#8493 feat(q_dev):delete user metrics
  backend/plugins/q_dev/impl/impl.go
  backend/plugins/q_dev/impl/impl_test.go
  backend/plugins/q_dev/models/migrationscripts/20250709_delete_user_metrics.go
  backend/plugins/q_dev/models/user_metrics.go
  backend/plugins/q_dev/models/user_metrics_test.go
  backend/plugins/q_dev/tasks/user_metrics_converter.go
  backend/plugins/q_dev/tasks/user_metrics_converter_test.go
Labels: component/plugins, size:XL

#8496 fix: add missing issues.fix_versions
  backend/core/models/migrationscripts/20250710_issue_fix_version.go
  backend/core/models/migrationscripts/register.go
Labels: pr-type/bug-fix, size:M, lgtm

#8500 fix(q_dev): correct Code Fix acceptance rate calculation in dashboard
  grafana/dashboards/qdev_user_data.json
Labels: pr-type/bug-fix, component/ext, size:XS

#8513 fix(plugins): change testmo icon color, add beta tag, remove project creation
  backend/plugins/testmo/api/blueprint_v200.go
  backend/plugins/testmo/impl/impl.go
  backend/plugins/testmo/tasks/project_converter.go
  backend/plugins/testmo/tasks/task_data.go
  config-ui/src/plugins/register/testmo/assets/icon.svg
  config-ui/src/plugins/register/testmo/config.tsx
  config-ui/src/routes/pipeline/components/task.tsx
Labels: component/plugins, component/config-ui, size:M
