Repository apache/incubator-devlake, pull requests merged in 2025-08, with the labels that each got.

#8524 fix: full sync jira if due date field changed
  backend/plugins/jira/tasks/epic_extractor.go
  backend/plugins/jira/tasks/issue_extractor.go
Labels: component/plugins, pr-type/bug-fix, needs-cherrypick-v0.21, size:XS

#8499 fix(config-ui): fix grafana proxy in dev mode
  config-ui/vite.config.ts
Labels: pr-type/bug-fix, component/config-ui, size:XS

#8534 feat: pipeline scheduler supports priority
  backend/core/models/blueprint.go
  backend/core/models/migrationscripts/20250813_add_pipeline_priority.go
  backend/core/models/migrationscripts/register.go
  backend/core/models/pipeline.go
  backend/plugins/org/impl/impl.go
  backend/plugins/org/tasks/sleep.go
  backend/plugins/org/tasks/task_data.go
  backend/server/services/blueprint.go
  backend/server/services/pipeline.go
  backend/server/services/pipeline_helper.go
  config-ui/.yarnrc.yml
  config-ui/package.json
Labels: pr-type/feature-development, devops, component/framework, size:L, lgtm

#8536 fix(github-graphql): fix empty startedAt field
  backend/plugins/github_graphql/tasks/job_collector.go
  backend/plugins/github_graphql/tasks/job_collector_test.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, size:L

#8556 [pr-type/bug-fix] blueprint and project 404 redirection & UI message
  config-ui/src/hooks/use-refresh-data.ts
  config-ui/src/routes/blueprint/detail/blueprint-detail.tsx
  config-ui/src/routes/project/detail/index.tsx
Labels: pr-type/bug-fix, component/config-ui, severity/p1, needs-cherrypick-v1.0, size:M
