Repository apache/incubator-devlake, pull requests merged in 2025-09, with the labels that each got.

#8566 fix(plugins): fix raw table schemas and cleanup legacy table structures in testmo
  backend/plugins/testmo/models/migrationscripts/20250905_fix_raw_table_names_and_schemas.go
  backend/plugins/testmo/models/migrationscripts/archived/run.go
  backend/plugins/testmo/models/migrationscripts/register.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, needs-cherrypick-v1.0, size:M

#8568 fix: high priority pipelines could be starved by `parallel/` label
  backend/server/services/pipeline.go
Labels: priority/high, devops, pr-type/bug-fix, severity/p1, size:S, lgtm

#8565 refactor(migrations): enhance file meta migration to check column existence and nullability before modification
  backend/plugins/q_dev/models/migrationscripts/20250320_modify_file_meta.go
Labels: pr-type/refactor, component/plugins, size:M

#8522 fix: allow 0 idle database connection
  backend/core/runner/db.go
Labels: pr-type/bug-fix, component/framework, size:XS

#8586 feat(gitextractor): add support for excluding file extensions in commit stats
  backend/plugins/gitextractor/parser/repo_gogit.go
  backend/plugins/gitextractor/parser/repo_libgit2.go
  backend/plugins/gitextractor/parser/taskdata.go
  backend/plugins/gitlab/api/blueprint_v200.go
  backend/plugins/gitlab/models/migrationscripts/20250921_add_pr_size_excluded_extensions.go
  backend/plugins/gitlab/models/migrationscripts/register.go
  backend/plugins/gitlab/models/scope_config.go
  config-ui/src/plugins/register/gitlab/config.tsx
  config-ui/src/plugins/register/gitlab/transformation.tsx
Labels: pr-type/feature-development, component/plugins, component/config-ui, needs-cherrypick-v1.0, size:L

#8589 fix(ZenTao): add support for non-date string handling in UnmarshalJSON and introduce related tests
  backend/core/models/common/iso8601time.go
  backend/core/models/common/iso8601time_test.go
  backend/plugins/org/api/team.go
  backend/plugins/org/api/user.go
Labels: pr-type/bug-fix, component/config-ui, size:L

#8592 Feat: modify Q dev connection
  backend/plugins/q_dev/api/connection.go
  backend/plugins/q_dev/api/connection_test.go
  config-ui/src/plugins/components/connection-form/index.tsx
  config-ui/src/plugins/register/q-dev/config.tsx
  config-ui/src/plugins/register/q-dev/connection-fields/aws-credentials.tsx
  config-ui/src/plugins/register/q-dev/connection-fields/identity-center-config.tsx
  config-ui/src/plugins/register/q-dev/connection-fields/index.ts
  config-ui/src/plugins/register/q-dev/connection-fields/s3-config.tsx
Labels: pr-type/feature-development, component/plugins, component/config-ui, size:L

#8595 feat: support iam in q dev
  config-ui/src/plugins/register/q-dev/config.tsx
  config-ui/src/plugins/register/q-dev/connection-fields/aws-credentials.tsx
  config-ui/src/plugins/register/q-dev/data-scope.tsx
  config-ui/src/plugins/register/q-dev/index.ts
Labels: pr-type/feature-development, component/config-ui, size:L
