Repository apache/incubator-devlake, pull requests merged in 2025-03, with the labels that each got.

#8320 chore: resetting main to v1.0 - remove main protection
  .asf.yaml
Labels: size:S

#8323 bugfix: docker image not showing the correct version
  Makefile
Labels: size:XS

#8306 fix: scope config condition regression
  backend/helpers/srvhelper/scope_config_service_helper.go
Labels: pr-type/bug-fix, severity/p2, size:XS

#8314 Cherry-pick to `release-v1.0` -- fix(circleci): CircleCI Workflow nil check for CreatedDate (#8310)
  backend/plugins/circleci/e2e/raw_tables/_raw_circleci_api_workflows.csv
  backend/plugins/circleci/e2e/snapshot_tables/_tool_circleci_workflows.csv
  backend/plugins/circleci/tasks/workflow_converter.go
Labels: component/plugins, size:XS

#8327 Cherry-pick to main -- fix: scope config query to support postgresql and mysql
  backend/helpers/srvhelper/scope_config_service_helper.go
Labels: component/framework, size:XS

#8333 fix(jira): remove outdated records when convertor is not in incremental mode
  backend/plugins/jira/tasks/issue_convertor.go
Labels: component/plugins, pr-type/bug-fix, size:S, lgtm

#8338 fix(config): update asf.yml
  .asf.yaml
Labels: pr-type/bug-fix, size:S

#8337 fix(tapd): fix panic when casting fields
  backend/plugins/tapd/tasks/story_changelog_extractor.go
  backend/plugins/tapd/tasks/task_changelog_extractor.go
Labels: component/plugins, pr-type/bug-fix, size:S, lgtm

#8341 feat(circleci): Cherry Pick #7820 #7986
  backend/helpers/pluginhelper/api/api_collector_stateful.go
  backend/plugins/circleci/tasks/job_collector.go
  backend/plugins/circleci/tasks/pipeline_collector.go
  backend/plugins/circleci/tasks/shared.go
  backend/plugins/circleci/tasks/workflow_collector.go
Labels: component/plugins, cherrypick, size:L

#8351 fix: #8342 editing scopeConfig shows incorrect affected projects
  backend/helpers/srvhelper/scope_config_service_helper.go
Labels: pr-type/bug-fix, component/framework, size:XS

#8353 fix: Prevent implicit GraphQL disabled when patching Github Connection
  backend/plugins/github/models/connection.go
Labels: component/plugins, pr-type/bug-fix, size:S

#8357 fix: unable to create connection for sonarqube server
  config-ui/src/plugins/register/sonarqube/connection-fields/organization.tsx
Labels: pr-type/bug-fix, component/config-ui, size:XS

#8358 fix: scope config api token leaking
  backend/helpers/srvhelper/scope_service_helper.go
Labels: pr-type/bug-fix, size:XS

#8356 Fix zentao deadline field
  backend/helpers/utils/field.go
  backend/helpers/utils/field_test.go
  backend/plugins/jira/tasks/issue_extractor.go
  backend/plugins/tapd/tasks/bug_extractor.go
  backend/plugins/tapd/tasks/story_extractor.go
  backend/plugins/tapd/tasks/task_extractor.go
  backend/plugins/zentao/e2e/snapshot_tables/_tool_zentao_bugs.csv
  backend/plugins/zentao/e2e/snapshot_tables/_tool_zentao_tasks.csv
  backend/plugins/zentao/e2e/snapshot_tables/_tool_zentao_tasks_for_due_date.csv
  backend/plugins/zentao/models/bug.go
  backend/plugins/zentao/models/story.go
  backend/plugins/zentao/models/task.go
  backend/plugins/zentao/tasks/bug_extractor.go
  backend/plugins/zentao/tasks/story_extractor.go
  backend/plugins/zentao/tasks/task_extractor.go
Labels: component/plugins, pr-type/bug-fix, size:L, lgtm

#8352 [pr-type/bug-fix] Delete Project dialog text fix
  config-ui/src/routes/project/detail/settings-panel.tsx
Labels: pr-type/bug-fix, component/config-ui, size:XS

#8364 fix(tapd): ignore step changes in story changelog
  backend/plugins/tapd/models/story_changelog.go
  backend/plugins/tapd/tasks/story_changelog_extractor.go
Labels: component/plugins, pr-type/bug-fix, size:XS

#8366 fix: convert JIRA time remaining minutes
  backend/plugins/jira/e2e/snapshot_tables/issues.csv
  backend/plugins/jira/e2e/snapshot_tables/issues_for_due_date.csv
  backend/plugins/jira/e2e/snapshot_tables/issues_with_no_mapping_subtask.csv
  backend/plugins/jira/tasks/issue_convertor.go
Labels: component/plugins, pr-type/bug-fix, size:XS

#8370 fix: add the discussion tab back
  .asf.yaml
  README.md
Labels: pr-type/bug-fix, size:XS

#8371 fix: add notifications to discussions
  .asf.yaml
Labels: pr-type/bug-fix, size:XS
