Repository apache/incubator-devlake, pull requests merged in 2025-06, with the labels that each got.

#8460 [pr-type/feature-development] add ConvertQDevUserMetrics
  backend/plugins/q_dev/impl/impl.go
  backend/plugins/q_dev/tasks/user_metrics_converter.go
Labels: pr-type/feature-development, component/plugins, size:L

#8462 bugfix: upgrade grafana for CVE-2025-4123
  grafana/Dockerfile
Labels: pr-type/bug-fix, severity/p0, component/ext, size:XS

#8369 feat(tapd): add the ability to get tapd lifetime
  backend/plugins/tapd/impl/impl.go
  backend/plugins/tapd/models/life_time.go
  backend/plugins/tapd/models/migrationscripts/20250221_add_lifetime_tables.go
  backend/plugins/tapd/models/migrationscripts/register.go
  backend/plugins/tapd/tasks/workitem_lifetime_collector.go
  backend/plugins/tapd/tasks/workitem_lifetime_extractor.go
Labels: pr-type/feature-development, component/plugins, size:L

#8472 [pr-type/feature-development] Provided bulk data scope removal feature for connections page
  config-ui/src/routes/connection/connection.tsx
Labels: pr-type/feature-development, component/config-ui, size:L
