Repository apache/incubator-devlake, pull requests merged in 2025-04, with the labels that each got.

#8372 Truncate name of timeline records to fit into database field
  backend/plugins/azuredevops_go/tasks/ci_cd_timeline_records_extractor.go
Labels: component/plugins, pr-type/bug-fix, size:S

#8396 ci: update GitHub Actions to use Ubuntu 24.04
  .github/workflows/asf-header-check.yml
  .github/workflows/grafana-dashboards-check.yml
Labels: devops, size:XS

#8390 pr-type/bug-fix Added Blueprint title in pipelines run history table
  config-ui/src/routes/pipeline/components/table.tsx
Labels: pr-type/feature-development, component/config-ui, size:XS

#8378 fixing running git clone multiple times
  backend/plugins/dbt/tasks/git.go
Labels: component/plugins, pr-type/bug-fix, size:S

#8391 refactor: upgrade grafana to v11.6.0
  grafana/Dockerfile
Labels: pr-type/refactor, component/ext, size:XS

#8384 fix(github_graphql): Update Extract Jobs task to use Check Run instea…
  backend/plugins/github_graphql/tasks/job_collector.go
  backend/plugins/github_graphql/tasks/job_extractor.go
Labels: component/plugins, pr-type/bug-fix, size:L

#8401 feat(customize): add account handling for imported issues
  backend/plugins/customize/e2e/import_issues_test.go
  backend/plugins/customize/e2e/raw_tables/issues_input.csv
  backend/plugins/customize/e2e/snapshot_tables/accounts.csv
  backend/plugins/customize/e2e/snapshot_tables/issues_output.csv
  backend/plugins/customize/service/service.go
  backend/plugins/customize/service/service_test.go
Labels: pr-type/feature-development, component/plugins, size:L

#8402 fix(extractIssues): return error when mysql connection error happens
  backend/core/dal/dal.go
  backend/helpers/pluginhelper/api/api_extractor_stateful.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, size:S

#8395 feat(domain): create QA tables and models
  backend/core/models/domainlayer/domaininfo/domaininfo.go
  backend/core/models/domainlayer/qa/qa_api.go
  backend/core/models/domainlayer/qa/qa_project.go
  backend/core/models/domainlayer/qa/qa_test_case.go
  backend/core/models/domainlayer/qa/qa_test_case_execution.go
  backend/core/models/migrationscripts/20250421_create_qa_tables.go
  backend/core/models/migrationscripts/register.go
  backend/plugins/customize/api/csv_issue.go
  backend/plugins/customize/api/csv_qa.go
  backend/plugins/customize/e2e/import_qa_apis_test.go
  backend/plugins/customize/e2e/import_qa_test_cases_test.go
  backend/plugins/customize/e2e/import_test_case_execution_test.go
  backend/plugins/customize/e2e/raw_tables/qa_apis_input.csv
  backend/plugins/customize/e2e/raw_tables/qa_apis_input_incremental.csv
  backend/plugins/customize/e2e/raw_tables/qa_test_case_executions_input.csv
  backend/plugins/customize/e2e/raw_tables/qa_test_case_executions_input_incremental.csv
  backend/plugins/customize/e2e/raw_tables/qa_test_cases_input.csv
  backend/plugins/customize/e2e/raw_tables/qa_test_cases_input_incremental.csv
  backend/plugins/customize/e2e/snapshot_tables/accounts_from_qa_apis_incremental_output.csv
  backend/plugins/customize/e2e/snapshot_tables/accounts_from_qa_apis_output.csv
  backend/plugins/customize/e2e/snapshot_tables/accounts_from_qa_test_case_executions_output.csv
  backend/plugins/customize/e2e/snapshot_tables/accounts_from_qa_test_case_executions_output_incremental.csv
  backend/plugins/customize/e2e/snapshot_tables/accounts_from_qa_test_cases.csv
  backend/plugins/customize/e2e/snapshot_tables/qa_apis_output.csv
  backend/plugins/customize/e2e/snapshot_tables/qa_apis_output_incremental.csv
  backend/plugins/customize/e2e/snapshot_tables/qa_projects_output.csv
  backend/plugins/customize/e2e/snapshot_tables/qa_test_case_executions_output.csv
  backend/plugins/customize/e2e/snapshot_tables/qa_test_case_executions_output_incremental.csv
  backend/plugins/customize/e2e/snapshot_tables/qa_test_cases_output.csv
  backend/plugins/customize/e2e/snapshot_tables/qa_test_cases_output_incremental.csv
  backend/plugins/customize/service/service.go
Labels: pr-type/feature-development, component/plugins, size:XL

#8386 fix: replace panic in gitextractor with error handling
  backend/plugins/gitextractor/tasks/repo_cloner.go
  backend/plugins/gitextractor/tasks/repo_collector.go
Labels: pr-type/refactor, component/plugins, size:XS

#8405 refactor: refactor StatefulApiExtractor to fix busy buffer and EOF errors
  backend/helpers/pluginhelper/api/api_extractor_stateful.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, size:M

#8417 fix: mount api for customize plugin
  backend/plugins/customize/impl/impl.go
Labels: component/plugins, size:XS
