Repository apache/incubator-devlake, pull requests merged in 2025-01, with the labels that each got.

#8256 fix: 8522 gitlab mr notes are missing
  backend/plugins/gitlab/tasks/shared.go
Labels: component/plugins, pr-type/bug-fix, size:XS, needs-cherrypick-main

#8248 chore(scope-config): fix scope config query
  NOTICE
  backend/helpers/srvhelper/scope_config_service_helper.go
Labels: pr-type/bug-fix, component/framework, size:XS

#8267 feat: starrocsk plugin add table config
  backend/plugins/starrocks/tasks/task_data.go
  backend/plugins/starrocks/tasks/tasks.go
Labels: pr-type/feature-development, component/plugins, size:S

#8268 feat: starrocsk plugin add table config
  backend/plugins/starrocks/tasks/task_data.go
  backend/plugins/starrocks/tasks/tasks.go
Labels: pr-type/feature-development, component/plugins, size:S

#8270 Release v1.0 bookworm
  NOTICE
  backend/Dockerfile
Labels: size:S
