Repository apache/incubator-devlake, pull requests merged in 2025-02, with the labels that each got.

#8286 feat: starrocsk plugin add table config
  backend/plugins/starrocks/tasks/task_data.go
  backend/plugins/starrocks/tasks/tasks.go
Labels: pr-type/feature-development, component/plugins, size:XS

#8287 feat: starrocsk plugin add table config
  backend/plugins/starrocks/tasks/task_data.go
  backend/plugins/starrocks/tasks/tasks.go
Labels: pr-type/feature-development, component/plugins, size:XS

#8296 Fix broken "Develop a Plugin" link in README
  README.md
Labels: pr-type/bug-fix, component/docs, size:XS

#8300 fix: go lint and import errors
  backend/plugins/zentao/e2e/raw_tables/_raw_zentao_api_task_worklogs.csv
  backend/plugins/zentao/e2e/snapshot_tables/_tool_zentao_worklogs.csv
  backend/plugins/zentao/e2e/snapshot_tables/issue_worklogs.csv
  backend/plugins/zentao/e2e/task_worklogs_test.go
  backend/plugins/zentao/tasks/task_worklog_collector.go
  backend/plugins/zentao/tasks/task_worklog_convertor.go
Labels: component/plugins, devops, size:S

#8310 fix(circleci): CircleCI Workflow nil check for CreatedDate
  backend/plugins/circleci/e2e/raw_tables/_raw_circleci_api_workflows.csv
  backend/plugins/circleci/e2e/snapshot_tables/_tool_circleci_workflows.csv
  backend/plugins/circleci/tasks/workflow_converter.go
Labels: component/plugins, pr-type/bug-fix, severity/p1, size:XS
